<div class="container mb-48 mb-md-104 mt-40 mt-md-76">
  <div class="swiper-container position-relative border-radius-80804040 bg-brand-06">
    <button class="banner-todaymeal-button 
    position-absolute top-0 start-50 translate-middle zindex-dropdown
    border-radius-36 bg-white px-12 py-8 
    d-flex align-items-center justify-content-center">
    <!-- <div class="banner-todaymeal-h6 text-brand-02 d-flex flex-column flex-sm-row ">
      <h6 class="">今日餐點 </h6>
      <h6 class="">跟團倒數</h6>
    </div> -->
      <h6 class=" me-8 me-sm-16 text-brand-02 word-break-keep-all">今日餐點 跟團倒數</h6>
      <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 me-8">03</span>
      <span class="text-brand-02">:</span>
      <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 mx-8">59</span>
      <span class="text-brand-02">:</span>
      <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 ms-8">49</span>
    </button>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-bg-Style swiper01 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
              <div class="swiper-bg-textcontent">
                <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">茶源 ChaSource</h2>
                <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">專注於高品質的茶葉,提供多款精選茶飲和冷泡茶。</p>
              </div>
              <button class="fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
            </div>
            <div class="d-none d-xl-flex justify-content-between p-24">
              <div class="swiper-comment bg-white p-24 border-radius-16161640">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-11.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">陳冠廷</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">我今天的幸福都在這裡了，謝謝團主大大！</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-15.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">盧子晴</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">飲料口味都很特別，琥珀奶香有夠奶的，濃醇香就是這個意思吧。前幾天忍不住跑到現場，店裝潢的也很漂亮很文青。</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16164016">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-16.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">黃莉琳</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">大推柚香翠玉，香味清香撲鼻，茶味甘甜，入口醇郁濃厚，加上葡萄柚的酸爽，清涼退火。還有️淡雅桂花香和甘潤烏龍茶味，不僅養顏美容又醇厚好喝。還不趕緊跟著我立刻訂起來！</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-bg-Style swiper02 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
              <div class="swiper-bg-textcontent">
                <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">涎飲</h2>
                <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">您將享受到酸酸甜甜的愉悅滋味，綻放您忙碌日常的一抹綠意，讓您隨時都能沉浸在愉快的味覺饗宴中。</p>
              </div>
              <button class="fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
            </div>
            <div class="d-none d-xl-flex justify-content-between p-24">
              <div class="swiper-comment bg-white p-24 border-radius-16161640">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-11.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">陳冠廷</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">我今天的幸福都在這裡了，謝謝團主大大！</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-15.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">盧子晴</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">飲料口味都很特別，琥珀奶香有夠奶的，濃醇香就是這個意思吧。前幾天忍不住跑到現場，店裝潢的也很漂亮很文青。</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16164016">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-16.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">黃莉琳</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">大推柚香翠玉，香味清香撲鼻，茶味甘甜，入口醇郁濃厚，加上葡萄柚的酸爽，清涼退火。還有️淡雅桂花香和甘潤烏龍茶味，不僅養顏美容又醇厚好喝。還不趕緊跟著我立刻訂起來！</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-bg-Style swiper03 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
              <div class="swiper-bg-textcontent">
                <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">祥園</h2>
                <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">致力於提供美味的素食選擇，讓您品味到純粹的自然滋味，以綠色營養為基底，呈現出令人驚艷的素食美食世界。</p>
              </div>
              <button class="fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
            </div>
            <div class="d-none d-xl-flex justify-content-between p-24">
              <div class="swiper-comment bg-white p-24 border-radius-16161640">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-11.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">陳冠廷</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">我今天的幸福都在這裡了，謝謝團主大大！</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-15.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">盧子晴</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">飲料口味都很特別，琥珀奶香有夠奶的，濃醇香就是這個意思吧。前幾天忍不住跑到現場，店裝潢的也很漂亮很文青。</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16164016">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-16.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">黃莉琳</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">大推柚香翠玉，香味清香撲鼻，茶味甘甜，入口醇郁濃厚，加上葡萄柚的酸爽，清涼退火。還有️淡雅桂花香和甘潤烏龍茶味，不僅養顏美容又醇厚好喝。還不趕緊跟著我立刻訂起來！</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-bg-Style swiper04 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
              <div class="swiper-bg-textcontent">
                <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">Leisurely Café</h2>
                <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">咖啡是一種藝術，每一杯都是經過訓練有素的咖啡師用心調配，為您獻上一份完美平衡的咖啡體驗。</p>
              </div>
              <button class="fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
            </div>
            <div class="d-none d-xl-flex justify-content-between p-24">
              <div class="swiper-comment bg-white p-24 border-radius-16161640">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-11.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">陳冠廷</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">我今天的幸福都在這裡了，謝謝團主大大！</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-15.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">盧子晴</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">飲料口味都很特別，琥珀奶香有夠奶的，濃醇香就是這個意思吧。前幾天忍不住跑到現場，店裝潢的也很漂亮很文青。</p>
              </div>
              <div class="swiper-comment bg-white p-24 border-radius-16164016">
                <div class="mb-12 d-flex align-items-center justify-content-between ">
                  <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                    <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-16.jpg" alt="user-img">
                    <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">黃莉琳</p>
                  </div>
                  <div class="swiper-comment-date">
                    <p class="text-gray-02">2023/08/03</p>
                  </div>
                </div>
                <div class="mb-12">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="me-4" src="/assets/images/icon/icon-star-highlight.png" alt="star-highlight">
                  <img class="" src="/assets/images/icon/icon-star-faint.png" alt="star-faint">
                </div>
                <p class="swiper-comment-p fs-20">大推柚香翠玉，香味清香撲鼻，茶味甘甜，入口醇郁濃厚，加上葡萄柚的酸爽，清涼退火。還有️淡雅桂花香和甘潤烏龍茶味，不僅養顏美容又醇厚好喝。還不趕緊跟著我立刻訂起來！</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="swiper-button-next pictures-replace-text d-none d-xl-block"></div>
    <div class="swiper-button-prev pictures-replace-text d-none d-xl-block"></div>
    <div class="swiper-pagination position-absolute top-100 start-50 translate-middle"></div>
  </div>
</div>

<!-- Swiper JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<!-- banner JS -->
<script>
  console.log('banner JS');
  var menu = ["", "", ""];
  var swiper = new Swiper(".mySwiper", {
    loop: true,
    clickable: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      renderBullet: function (index, className) {
        return '<span class="' + className + '">' + "</span>";
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
