<div class="container mb-48 mb-md-104 mt-40 mt-md-76">
  <div class="swiper-container position-relative border-radius-80804040 bg-brand-06 bannerName">
    <button class="banner-todaymeal-button 
    position-absolute top-0 start-50 translate-middle
    border-radius-36 bg-white px-12 py-8 
    d-flex align-items-center justify-content-center">
      <h6 class=" me-8 me-sm-16 text-brand-02 word-break-keep-all">今日餐點 跟團倒數</h6>
      <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 me-8" id="hour">03</span>
      <span class="text-brand-02">:</span>
      <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 mx-8" id="min">59</span>
      <span class="text-brand-02">:</span>
      <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 mx-8" id="sec">49</span>
    </button>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-bg-Style swiper01 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
            <div class="swiper-bg-textcontent">
              <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">茶源 ChaSource</h2>
              <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">專注於高品質的茶葉,提供多款精選茶飲和冷泡茶。</p>
            </div>
            <button
              class="order-btn fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
          </div>
          <div class="d-none d-xl-flex justify-content-between p-24">
            <div class="swiper-comment bg-white p-24 border-radius-16161640">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-11.jpg" alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">陳冠廷</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/03</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">我今天的幸福都在這裡了，謝謝團主大大！</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-15.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">盧子晴</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/03</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">飲料口味都很特別，琥珀奶香有夠奶的，濃醇香就是這個意思吧。前幾天忍不住跑到現場，店裝潢的也很漂亮很文青。</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16164016">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-16.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">黃莉琳</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/03</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">
                大推柚香翠玉，香味清香撲鼻，茶味甘甜，入口醇郁濃厚，加上葡萄柚的酸爽，清涼退火。還有️淡雅桂花香和甘潤烏龍茶味，不僅養顏美容又醇厚好喝。還不趕緊跟著我立刻訂起來！</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-bg-Style swiper02 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
            <div class="swiper-bg-textcontent">
              <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">涎飲</h2>
              <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">您將享受到酸酸甜甜的愉悅滋味，綻放您忙碌日常的一抹綠意，讓您隨時都能沉浸在愉快的味覺饗宴中。
              </p>
            </div>
            <button
              class="order-btn fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
          </div>
          <div class="d-none d-xl-flex justify-content-between p-24">
            <div class="swiper-comment bg-white p-24 border-radius-16161640">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-08.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">劉語柔</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-07-27" class="text-gray-02">2023/07/27</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">選擇豐富多樣，總是能滿足我對美味的渴望</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-03.jpg" alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">陳健邦</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-07-27" class="text-gray-02">2023/07/27</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">每一杯飲品都是精心調配的藝術品，不僅美味，也是視覺和味蕾的享受</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16164016">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-05.jpg" alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">James Williams</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-02-15" class="text-gray-02">2023/02/15</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #C2C1BD;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #C2C1BD;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #C2C1BD;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">簡直難喝到極點，口感完全失敗，讓我非常失望。絕對不會再來第二次</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-bg-Style swiper03 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
            <div class="swiper-bg-textcontent">
              <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">祥園</h2>
              <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">
                致力於提供美味的素食選擇，讓您品味到純粹的自然滋味，以綠色營養為基底，呈現出令人驚艷的素食美食世界。</p>
            </div>
            <button
              class="order-btn fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
          </div>
          <div class="d-none d-xl-flex justify-content-between p-24">
            <div class="swiper-comment bg-white p-24 border-radius-16161640">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-01.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">林佳琪</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-07-27" class="text-gray-02">2023/07/27</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">外送速度快得讓你以為他們的腳那麼長，我下單以後啪一聲，食物就出現在我面前了，簡直是魔法</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-09.jpg" alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">吳瑞霖</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/02</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">質量可靠的速食選擇，無論是想吃漢堡還是雞塊，這裡總是能滿足我。</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16164016">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-06.jpg" alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">劉俊宇</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-04-07" class="text-gray-02">2023/04/07</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">讓我每次都能品味到不同的美味真是太好了</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-bg-Style swiper04 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
            <div class="swiper-bg-textcontent">
              <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">Leisurely Café</h2>
              <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24">咖啡是一種藝術，每一杯都是經過訓練有素的咖啡師用心調配，為您獻上一份完美平衡的咖啡體驗。
              </p>
            </div>
            <button
              class="order-btn fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0 ">點餐去</button>
          </div>
          <div class="d-none d-xl-flex justify-content-between p-24">
            <div class="swiper-comment bg-white p-24 border-radius-16161640">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-11.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">Mia Lin</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-05-02" class="text-gray-02">2023/05/02</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">他們的咖啡就像是對人生的懷疑：你不確定它是深咖啡還是淺咖啡，但你知道它一定會帶給你能量，至少是因為咖啡因。</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-07.jpg" alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">周信宏</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/03</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">咖啡的品質總是保持著一流水準。無論是拿鐵還是美式，每一杯都讓我感受到滿足的味蕾之旅。</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16164016">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-13.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">溫雅琪</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-07-27" class="text-gray-02">2023/07/27</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">咖啡的質量始終如一，無論何時來都能品味到美味</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next pictures-replace-text d-none d-xl-block"></div>
    <div class="swiper-button-prev pictures-replace-text d-none d-xl-block"></div>
    <div class="swiper-pagination position-absolute top-100 start-50 translate-middle"></div>
  </div>
</div>

<!-- Swiper JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<!-- axios cnd 未來版本要刪除 by WA -->
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<!-- banner JS -->
<script>
  console.log('banner js');
  let bannerData = [];
  let templateBanner = '';
  axios.get('https://teatimeapi-test.onrender.com/groupings')
  .then(function(res){
    const today = new Date();
    let todayDateString = `${today.getFullYear()}/${today.getMonth() + 1}/${today.getDate()}`;
    // console.log(todayDateString);
    todayDateString = '2023/12/05';
    const data = res.data;
    data.forEach(item => {
      const [datePart, timePart] = item.deadlineDateTime.split(" ");
      item.datePart = datePart; // 输出：2023/12/05
      item.timePart = timePart; // 输出：14:00
      // 判斷當日有開團，並加入 bannerData
      if(todayDateString == datePart){
        bannerData.push(item);
      }
    });
    // 判斷當日無開團處理
    if(bannerData == ""){
      // 當日無開團，以離目前最近時間排序
      console.log('當日無開團，以離目前最近時間排序');
      bannerRender(bannerData);
    }else{
      console.log('當日有開團');
      bannerRender(bannerData);
    } 
  })
  .catch(function(err){
    console.log(err);
  })
   
  function bannerRender(bannerData){
    console.log(bannerData);
    let newBannerData = bannerData[0];
    const bannerName = document.querySelector(".bannerName");
    let restaurantName = newBannerData.restaurantName;
    console.log(restaurantName);
    // 茶源 ChaSource"
    axios.get(`https://teatimeapi-test.onrender.com/restaurants?storeName=${restaurantName}`)
    .then(function(res){
      console.log(res.data[0]);
      newBannerData.storeData = res.data[0];
      console.log(newBannerData);
      if (bannerName) {
        templateBanner += `
        <button class="banner-todaymeal-button 
        position-absolute top-0 start-50 translate-middle
        border-radius-36 bg-white px-12 py-8 
        d-flex align-items-center justify-content-center">
          <h6 class=" me-8 me-sm-16 text-brand-02 word-break-keep-all">今日餐點 跟團倒數</h6>
          <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 me-8" id="hour">03</span>
          <span class="text-brand-02">:</span>
          <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 mx-8" id="min">59</span>
          <span class="text-brand-02">:</span>
          <span class="text-white border-radius-40 bg-brand-02 px-12 py-8 mx-8" id="sec">49</span>
        </button>
        `;
        templateBanner += `
        <div class="swiper mySwiper">
        <div class="swiper-wrapper">
        `;
        templateBanner += `
        <div class="swiper-slide">
          <div class="swiper-bg-Style swiper01 text-white p-12 px-md-40 py-md-24 border-radius-80804040 
            d-flex justify-content-end flex-column flex-md-row justify-content-md-between align-items-md-end">
            <div class="swiper-bg-textcontent">
              <h2 class="fs-28 fs-md-40 fw-bold custom-shadow mb-16">${newBannerData.storeData.storeName}</h2>
              <p class="swiper-bg-p custom-shadow mb-12 mb-md-0 fs-md-24"></p>
            </div>
            <button data-uid="${newBannerData.storeData.UID}" 
              class="order-btn fs-20 fw-medium text-white border-radius-40 px-24 py-12 bg-brand-03 border-0">點餐去</button>
          </div>
          <div class="d-none d-xl-flex justify-content-between p-24">
            <div class="swiper-comment bg-white p-24 border-radius-16161640">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/male/user-male-11.jpg" alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">陳冠廷</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/03</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">我今天的幸福都在這裡了，謝謝團主大大！</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-15.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">盧子晴</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/03</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">飲料口味都很特別，琥珀奶香有夠奶的，濃醇香就是這個意思吧。前幾天忍不住跑到現場，店裝潢的也很漂亮很文青。</p>
            </div>
            <div class="swiper-comment bg-white p-24 border-radius-16164016">
              <div class="mb-12 d-flex align-items-center justify-content-between ">
                <div class="swiper-comment-personal d-flex align-items-center justify-content-center ">
                  <img class="border-radius-20 me-16" src="/assets/images/user/female/user-female-16.jpg"
                    alt="user-img">
                  <p class="fs-20 fs-md-16 fs-xxl-20 text-gray-02">黃莉琳</p>
                </div>
                <div class="swiper-comment-date">
                  <time datetime="2023-08-03" class="text-gray-02">2023/08/03</time>
                </div>
              </div>
              <div class="mb-12">
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
              </div>
              <p class="swiper-comment-p fs-20">
                大推柚香翠玉，香味清香撲鼻，茶味甘甜，入口醇郁濃厚，加上葡萄柚的酸爽，清涼退火。還有️淡雅桂花香和甘潤烏龍茶味，不僅養顏美容又醇厚好喝。還不趕緊跟著我立刻訂起來！</p>
            </div>
          </div>
        </div>
        `;
        templateBanner += `
        </div>
        </div>
        <div class="swiper-button-next pictures-replace-text d-none d-xl-block"></div>
        <div class="swiper-button-prev pictures-replace-text d-none d-xl-block"></div>
        <div class="swiper-pagination position-absolute top-100 start-50 translate-middle"></div>
        `;
        bannerName.innerHTML = templateBanner;
        const orderBtn = document.querySelector('.order-btn');
        const orderBtns = document.querySelectorAll('.order-btn');
        let uid = orderBtn.dataset.uid;
        uid = 'B002';
        if(uid){
          console.log('儲存 uid');
          localStorage.setItem('UID', uid);
        }
        // orderBtn.addEventListener("click", function () {
        //     // 導向到 store-order.html
        //     window.location.href = 'store-order.html';
        //   });
        orderBtns.forEach(function (orderBtn) {
          orderBtn.addEventListener("click", function () {
            // 導向到 store-order.html
            window.location.href = 'store-order.html';
          });
        });
      }
    })
    .catch(function(err){
      console.log(err);
    })
  }
</script>
<script>
  let menu = ["", "", ""];
  const swiper = new Swiper(".mySwiper", {
    loop: true,
    clickable: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      renderBullet: function (index, className) {
        return '<span class="' + className + '">' + "</span>";
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<script>
  // 倒數計時器

  // 設定目標時間(結束時間)
  const targetDay = new Date("2023-12-31 23:59").getTime();
  function updateCountdown() {
    // 抓取現在時間
    const currentDay = new Date().getTime();
    // 剩下的時間(毫秒為單位)
    const remainTime = targetDay - currentDay;
    // 計算剩餘的天、日、時、秒
    const days = Math.floor(remainTime / (1000 * 60 * 60 * 24));
    const hours = Math.floor((remainTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const mins = Math.floor((remainTime % (1000 * 60 * 60)) / (1000 * 60));
    const secs = Math.floor((remainTime % (1000 * 60)) / (1000));
    // console.log(days, hours, mins, secs);

    // 放進元素內時間
    // var countday = days < 10 ? document.getElementById('day').innerHTML = "0" + days : document.getElementById('day').innerHTML = days;
    var counthour = hours < 10 ? document.getElementById('hour').innerHTML = "0" + hours : document.getElementById('hour').innerHTML = hours;
    var countmin = mins < 10 ? document.getElementById('min').innerHTML = "0" + mins : document.getElementById('min').innerHTML = mins;
    var countsec = secs < 10 ? document.getElementById('sec').innerHTML = "0" + secs : document.getElementById('sec').innerHTML = secs;
  }
  // 每秒更新一次倒數計時器
  const interval = setInterval(updateCountdown, 1000);

  updateCountdown();
</script>