<div class="position-fixed btn-notification">
    <a class="position-relative d-block" href="#">
        <iconify-icon class="p-8 bg-brand-02 rounded-circle" icon="ion:notifications-outline"
            style="color: white;" width="28" height="28"></iconify-icon>
        <div class="btn-notification-alert rounded-circle bg-white position-absolute "></div>
    </a>
</div>