<div class="container py-32 py-lg-80 find-store">
    <div class="d-flex justify-content-between align-items-center mb-18 mb-md-20">
        <h2 class="fs-md-32 fs-24 fw-bold lh-sm" id="find-store">找店家</h2>
        <a class="see-more d-flex align-items-center fs-16 fs-md-20 lh-sm fw-medium text-gray-05" href="./findStore.html">看更多
            <svg class="svg-hover" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 11"
                fill="none">
                <path
                    d="M0.284731 9.00931L0.284731 1.99264C0.28433 1.71563 0.362386 1.44417 0.509864 1.20968C0.657341 0.975188 0.868211 0.787258 1.11806 0.66764C1.41452 0.527612 1.74434 0.47368 2.06995 0.511987C2.39557 0.550295 2.70387 0.679301 2.95973 0.884306L7.20973 4.39264C7.36859 4.53032 7.49599 4.70054 7.58331 4.89177C7.67063 5.08299 7.71582 5.29075 7.71582 5.50097C7.71582 5.71119 7.67063 5.91895 7.58331 6.11018C7.49599 6.30141 7.36859 6.47163 7.20973 6.60931L2.95973 10.1176C2.70387 10.3226 2.39557 10.4517 2.06995 10.49C1.74434 10.5283 1.41452 10.4743 1.11806 10.3343C0.86821 10.2147 0.657341 10.0268 0.509863 9.79227C0.362385 9.55778 0.28433 9.28632 0.284731 9.00931Z"
                    fill="#8B8B8A" />
            </svg>
        </a>
    </div>

    <!-- 新的 -->


    <div class="d-block d-md-flex justify-content-between align-items-center">
        <!-- search-bar  -->
        <div class="position-relative me-md-16 d-none d-md-block ">
            <iconify-icon class="position-absolute search-icon" icon="iconamoon:search" style="color: #8b8b8a;"
                width="24"></iconify-icon>
            <input type="text" class="search-bar border border-2 border-gray-04 border-radius-28 py-10 px-16 ps-48"
                placeholder="搜尋" aria-label="search" aria-describedby="basic-addon1">
        </div>

        <ul class="select-bar d-flex text-center bg-brand-05 mt-20 mt-md-0 mb-16 mb-md-0 p-8 text-nowrap">
            <li class="text-center w-100">
                <button type="button"
                    class="select-bar-link d-inline-block fs-16 fs-md-20 fw-medium text-brand-02 py-10 py-md-8 px-sm-24 px-0 border-0 w-100 btn-active-bg-2 btn-hover-bg-2 btn-active-brand-02">最新店家</button>
            </li>
            <li class="text-center w-100">
                <button type="button"
                    class="select-bar-link d-inline-block fs-16 fs-md-20 fw-medium text-brand-02 py-10 py-md-8 px-sm-24 px-0 border-0 btn-active-bg-2 btn-hover-bg-2 w-100">最高評價</button>
            </li>
            <li class="text-center w-100">
                <button type="button"
                    class="select-bar-link d-inline-block fs-16 fs-md-20 fw-medium text-brand-02 py-10 py-md-8 px-sm-24 px-0 border-0 btn-active-bg-2 btn-hover-bg-2 w-100">最低評價</button>
            </li>

        </ul>
    </div>


    <div class="row mt-md-32 mt-0">
        <div class="col-md-2  mb-16 mb-md-0">
            <ul class=" x-slide d-flex d-md-block gap-md-5 text-nowrap">
                <li>
                    <button
                        class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 btn-active border-radius-16 btn-hover-gray-04 actived">
                        <iconify-icon icon="fluent:food-24-regular" style="color: #8b8b8a;" width="32" height="32"
                            class="me-md-8 me-0"></iconify-icon>
                        <span class="fs-md-20 fs-16">全部</span>
                    </button>
                </li>
                <li>
                    <button
                        class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active">
                        <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="32" height="32"
                            class="me-md-8 me-0"></iconify-icon>
                        <span class="fs-md-20 fs-16">速食</span></button>
                </li>
                <li>
                    <button
                        class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active"><iconify-icon
                            icon="icon-park-outline:drink" style="color: #8b8b8a;" width="32" height="32"
                            class="me-md-8 me-0"></iconify-icon>
                        <span class="fs-md-20 fs-16">飲品</span>
                    </button>
                </li>
                <li>
                    <button
                        class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active"><iconify-icon
                            icon="ph:bowl-food" style="color: #8b8b8a;" width="32" height="32"
                            class="me-md-8 me-0"></iconify-icon>
                        <span class="fs-md-20 fs-16">小吃</span>
                    </button>
                </li>
                <li>
                    <button
                        class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active"><iconify-icon
                            icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;" width="32"
                            height="32" class="me-md-8 me-0"></iconify-icon>
                        <span class="fs-md-20 fs-16">甜點</span>
                    </button>
                </li>
                <li>
                    <button
                        class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active"><iconify-icon
                            icon="tabler:leaf" style="color: #8b8b8a;" width="32" height="32"
                            class="me-md-8 me-0"></iconify-icon>
                        <span class="fs-md-20 fs-16">素食</span>
                    </button>
                </li>
                <li>
                    <button
                        class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active"><iconify-icon
                            icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="32" height="32"
                            class="me-md-8 me-0"></iconify-icon>
                        <span class="fs-md-20 fs-16">咖啡</span></button>
                </li>
                <li class="tab_slider"></li>
            </ul>
        </div>
        <div class="col-md-10 px-24 ">
            <ul class="row row-cols-2 gap-12 gap-xxl-24 findStore-ul">
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-05-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">滋味冰</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;"
                                width="24" height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-07-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">買噹噹</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-08-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">Tropicool</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>

                                </div>
                            </div>
                            <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24"
                                height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-09-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">素營養</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-10-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">買噹噹</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-11-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">滋味冰</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;"
                                width="24" height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-12-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">素營養</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-13-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">Tropicool</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>

                                </div>
                            </div>
                            <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24"
                                height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-16 mt-md-32"></div>
    <nav aria-label="Page navigation ">
        <ul class="pagination justify-content-end gap-8">
            <li class="page-item">
                <a class="page-link rounded-3" href="#" aria-label="Previous">
                    <iconify-icon aria-hidden="true" icon="ri:arrow-left-double-line" width="16"
                        height="16"></iconify-icon>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-3 " href="#" aria-label="Previous">
                    <iconify-icon aria-hidden="true" icon="iconamoon:arrow-left-2" width="16"
                        height="16"></iconify-icon>
                </a>
            </li>
            <li class="page-item"><a class="page-link rounded-3" href="#">1</a></li>
            <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
            <li class="page-item"><a class="page-link rounded-3" href="#">3</a></li>
            <li class="page-item"><a class="page-link border-0 disabled bg-transparent " href="#">...</a></li>
            <li class="page-item"><a class="page-link rounded-3" href="#">10</a></li>
            <li class="page-item">
                <a class="page-link rounded-3 " href="#" aria-label="Previous">
                    <iconify-icon aria-hidden="true" icon="iconamoon:arrow-right-2" width="16"
                        height="16"></iconify-icon>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-3" href="#" aria-label="Next">
                    <iconify-icon aria-hidden="true" icon="ri:arrow-right-double-line" width="16"
                        height="16"></iconify-icon>
                </a>
            </li>
        </ul>
    </nav>
</div>




<script>
    // 點選按鈕樣式
    const selectBar = document.querySelectorAll('.select-bar-link');
    selectBar.forEach(btnType => {
        btnType.addEventListener('click', () => {
            selectBar.forEach(btn => {
                btn.classList.remove('btn-active-brand-02');
            })
            btnType.classList.add('btn-active-brand-02');
        })
    })
    // 點選後，篩選店家
    const latestStoreBtn = selectBar[0];
    const hightEvaluateBtn = selectBar[1];
    const lowEvaluateBtn = selectBar[2];
    const findStoreUl = document.querySelector(".findStore-ul");
    const findStoreContent = findStoreUl.innerHTML;
    // 最高評價呈現的卡片
    hightEvaluateBtn.addEventListener("click", () => {
        findStoreUl.innerHTML = `<li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-11-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">滋味冰</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;"
                                width="24" height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-13-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">Tropicool</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24"
                                height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-05-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">滋味冰</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;"
                                width="24" height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-08-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">Tropicool</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24"
                                height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-09-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">素營養</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-07-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">買噹噹</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-12-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">素營養</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>
                <li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-10-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">買噹噹</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>`;
    })
    // 最低評價呈現的卡片
    lowEvaluateBtn.addEventListener("click", () => {
        findStoreUl.innerHTML = `<li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-10-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">買噹噹</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li><li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-12-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">素營養</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li><li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-07-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">買噹噹</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li><li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-09-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">素營養</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24"
                                class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li><li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-08-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">Tropicool</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24"
                                height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li><li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-05-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">滋味冰</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;"
                                width="24" height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li><li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-13-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">Tropicool</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24"
                                height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li><li class="findStore-img position-relative "
                    style="background-image: url(https://github.com/AnnChouCode/TeaTime-Gathering/blob/main/assets/images/store-logo/store-11-s.jpg?raw=true);">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">滋味冰</p>
                                <div class="d-flex ">
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                    <iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>
                                </div>
                            </div>
                            <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;"
                                width="24" height="24" class="findStore-card-img"></iconify-icon>
                        </div>
                    </a>
                </li>`;
    })
    // 全部店家
    latestStoreBtn.addEventListener("click", () => {
        findStoreUl.innerHTML = findStoreContent
    })


</script>