<footer class="pt-md-48 pb-md-32 py-32 bg-bg-1 text-gray-02 footer-radius">
    <div class="d-flex flex-column align-items-center">
        <img class="mb-md-24 mb-16 footer-logo" src="../assets/images/logo/logo-teatime.svg" alt="logo">
        <p class="mb-md-24 mb-16 lh-sm fw-medium">管理員：Ann Chou、Billy Ti、Mark、WA</p>
        <ul class="d-flex gap-24 mb-md-32 mb-16">
            <li><a href="https://forms.gle/WndwyVzdawV7Qsvj9"><iconify-icon icon="ic:round-email" style="color: #bfa373;" width="24" height="24"></iconify-icon></a></li>
            <li><a href="#"><iconify-icon icon="mdi:facebook" style="color: #bfa373;" width="24" height="24"></iconify-icon></a></li>
            <li><a href="#"><iconify-icon icon="ant-design:instagram-filled" style="color: #bfa373;" width="24" height="24"></iconify-icon></a></li>
        </ul>
        <div class="layout-content container">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-between w-100 py-md-16 px-md-24 py-12 px-12 bg-white rounded-pill">
                <p>本網站僅作為求職作品集使用，不供商業用途</p>
                <p>© 2023 一起發胖團</p>
            </div>
        </div>
    </div>
</footer>