<nav>
    <div class="fixed-top bg-white">
        <div class="layout-content position-relative">
            <div class="py-lg-16 py-8 container d-flex gap-8 align-items-center justify-content-between">
                <!-- nav list left -->
                <ul class="d-lg-flex d-none gap-xxl-48 gap-16">
                    <li><a class="nav-list" href="#">點餐</a></li>
                    <li><a class="nav-list" href="#">投票</a></li>
                    <li><a class="nav-list" href="#">訂餐月曆</a></li>
                    <li><a class="nav-list" href="#">訂單</a></li>
                </ul>
                <!-- nav logo -->
                <h1 class="nav-logo me-lg-8 position-absolute"><a href="index.html">下午茶揪團去</a></h1>
                <!-- nav-icon right-->
                <ul class="d-lg-flex d-none gap-lg-16 gap-8">
                    <li>
                        <a class="nav-icon-hover" href="#">
                            <iconify-icon class="p-8 bg-brand-04 rounded-circle" icon="ant-design:message-outlined"
                                style="color: #bfa373;" width="28"></iconify-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-icon-hover">
                            <iconify-icon class="p-8 bg-brand-04 rounded-circle" icon="ion:help" style="color: #bfa373;"
                                width="28"></iconify-icon></a>
                    </li>
                    <!-- nav-button account modal -->
                    <li>
                        <a href="#accountModal" data-bs-toggle="modal" class="nav-icon-hover"><iconify-icon
                                class="p-8 bg-brand-04 rounded-circle" icon="line-md:account" style="color: #bfa373;"
                                width="28"></iconify-icon></a>
                    </li>
                </ul>
                <!-- search-bar  -->
                <div class="position-relative me-lg-16 d-lg-none ms-170">
                    <iconify-icon class="position-absolute search-icon" icon="iconamoon:search" style="color: #8b8b8a;"
                        width="24"></iconify-icon>
                    <input type="text"
                        class="search-bar border border-2 border-gray-04 border-radius-28 py-10 px-16 ps-48"
                        placeholder="搜尋" aria-label="search" aria-describedby="basic-addon1">
                </div>
                <!-- btn-menu -->
                <a class="d-lg-none d-block" data-bs-toggle="offcanvas" href="#offcanvasTop"
                    aria-controls="offcanvasTop">
                    <iconify-icon icon="uil:apps" style="color: #f0bd68;" width="28"></iconify-icon>
                </a>
                <!-- nav menu offcanvas -->
                <div class="offcanvas offcanvas-top vh-100" data-bs-scroll="true" tabindex="-1" id="offcanvasTop"
                    aria-labelledby="offcanvasTopLabel">
                    <div class="offcanvas-header py-16 px-12">
                        <img style="width: 148px; height: 24px;" src="../assets/images/logo/logo-teatime.svg" alt="">
                        <a href="#" data-bs-dismiss="offcanvas" aria-label="Close"><iconify-icon icon="ic:round-close"
                                style="color: #bfa373;" width="28"></iconify-icon></a>
                    </div>
                    <div class="offcanvas-body py-24 px-12 d-flex flex-column justify-content-between ">
                        <ul class="fs-32 offcanvas-list">
                            <li><a class="p-16 fw-bold d-block" href="#">點餐</a></li>
                            <li><a class="p-16 fw-bold d-block" href="#">投票</a></li>
                            <li><a class="p-16 fw-bold d-block" href="#">訂餐月曆</a></li>
                            <li><a class="p-16 fw-bold d-block" href="#">訂單</a></li>
                        </ul>
                        <ul class="d-flex gap-20 justify-content-center">
                            <li>
                                <a class="position-relative d-block notification-hover" href="#">
                                    <iconify-icon class="p-8 bg-brand-02 rounded-circle"
                                        icon="ion:notifications-outline" style="color: white;" width="28"
                                        height="28"></iconify-icon>
                                    <div class="btn-notification-alert rounded-circle bg-white position-absolute ">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-icon-hover"><iconify-icon class="p-8 bg-brand-04 rounded-circle"
                                        icon="ant-design:message-outlined" style="color: #bfa373;"
                                        width="28"></iconify-icon></a>
                            </li>
                            <li>
                                <a href="#" class="nav-icon-hover">
                                    <iconify-icon class="p-8 bg-brand-04 rounded-circle" icon="ion:help"
                                        style="color: #bfa373;" width="28"></iconify-icon></a>
                            </li>
                            <li>
                                <a href="#accountCollapseModal" class="nav-icon-hover"  data-bs-toggle="modal"><iconify-icon class="p-8 bg-brand-04 rounded-circle"
                                        icon="line-md:account" style="color: #bfa373;" width="28"></iconify-icon></a>                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</nav>

<!-- nav account modal -->
<div class="modal fade account-login-modal" id="accountModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered account-modal-dialog border-radius-24">
        <div class="modal-content border-radius-24 d-flex">
            <div class="modal-header py-lg-24 px-lg-40 p-16 border-0">
                <h5 class="modal-title fs-lg-24 fw-lg-bold lh-sm fs-20 fw-medium ">登入</h5>
                <a href="#accountModal" data-bs-toggle="modal"><iconify-icon icon="ic:round-close"
                        style="color: #8B8B8A;" width="32"></iconify-icon></a>
            </div>
            <div class="modal-body p-lg-40 pt-lg-16 p-16 pt-8 d-flex flex-column gap-lg-20 gap-12">
                <!-- switch user & admin login -->
                <ul class="d-flex p-8 rounded-pill bg-brand-05">
                    <li class="w-50"><a
                            class="fw-medium lh-sm py-lg-12 py-10 text-center d-block rounded-pill btn-login"
                            href="#">會員登入</a></li>
                    <li class="w-50"><a
                            class="fw-medium lh-sm py-lg-12 py-10 text-center d-block rounded-pill btn-login"
                            href="#">管理員登入</a></li>
                </ul>
                <!-- input - account & password -->
                <form class="needs-validation" action="#" method="post" novalidate>
                    <div class="mb-lg-20 mb-12">
                        <input
                            class="login-bar border border-2 border-gray-04 border-radius-28 p-16 form-control mb-lg-20 mb-12"
                            type="email" id="form-account" name="form-account" placeholder="請輸入信箱"
                            aria-describedby="form-account" required>
                        <input class="login-bar border border-2 border-gray-04 border-radius-28 p-16 form-control"
                            type="password" id="form-password" name="form-password" placeholder="請輸入密碼"
                            aria-describedby="form-password" required>
                        <div class="invalid-feedback ms-16">
                            電子郵件帳號或密碼輸入錯誤
                        </div>
                    </div>
                    <!-- option -->
                    <div class="d-flex justify-content-between mb-lg-20 mb-12">
                        <label class="remember-content text-brand-01 fw-medium lh-sm" for="remember-check">記住我
                            <input class="remember-checkbox" type="checkbox" id="remember-check" name="remember-me">
                            <span class="remember-checkmark"></span>
                        </label>
                        <a href="#" class="text-brand-01 fw-medium lh-sm">忘記密碼？</a>
                    </div>
                    <!-- submit -->
                    <button type="submit"
                        class="fs-20 fw-medium lh-sm rounded-pill text-white p-lg-14 p-12 border-0 w-100  btn-login-submit">登入</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- nav account modal -->
<div class="modal fade account-login-modal" id="accountCollapseModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered account-modal-dialog border-radius-24">
        <div class="modal-content border-radius-24 d-flex">
            <div class="modal-header py-lg-24 px-lg-40 p-16 border-0">
                <h5 class="modal-title fs-lg-24 fw-lg-bold lh-sm fs-20 fw-medium ">登入</h5>
                <a href="#accountCollapseModal" data-bs-toggle="modal"><iconify-icon icon="ic:round-close"
                        style="color: #8B8B8A;" width="32"></iconify-icon></a>
            </div>
            <div class="modal-body p-lg-40 pt-lg-16 p-16 pt-8 d-flex flex-column gap-lg-20 gap-12">
                <!-- switch user & admin login -->
                <ul class="d-flex p-8 rounded-pill bg-brand-05">
                    <li class="w-50"><a
                            class="fw-medium lh-sm py-lg-12 py-10 text-center d-block rounded-pill btn-login"
                            href="#">會員登入</a></li>
                    <li class="w-50"><a
                            class="fw-medium lh-sm py-lg-12 py-10 text-center d-block rounded-pill btn-login"
                            href="#">管理員登入</a></li>
                </ul>
                <!-- input - account & password -->
                <form class="needs-validation" action="#" method="post" novalidate>
                    <div class="mb-lg-20 mb-12">
                        <input
                            class="login-bar border border-2 border-gray-04 border-radius-28 p-16 form-control mb-lg-20 mb-12"
                            type="email" id="form-account" name="form-account" placeholder="請輸入信箱"
                            aria-describedby="form-account" required>
                        <input class="login-bar border border-2 border-gray-04 border-radius-28 p-16 form-control"
                            type="password" id="form-password" name="form-password" placeholder="請輸入密碼"
                            aria-describedby="form-password" required>
                        <div class="invalid-feedback ms-16">
                            電子郵件帳號或密碼輸入錯誤
                        </div>
                    </div>
                    <!-- option -->
                    <div class="d-flex justify-content-between mb-lg-20 mb-12">
                        <label class="remember-content text-brand-01 fw-medium lh-sm" for="remember-check">記住我
                            <input class="remember-checkbox" type="checkbox" id="remember-check" name="remember-me">
                            <span class="remember-checkmark"></span>
                        </label>
                        <a href="#" class="text-brand-01 fw-medium lh-sm">忘記密碼？</a>
                    </div>
                    <!-- submit -->
                    <button type="submit"
                        class="fs-20 fw-medium lh-sm rounded-pill text-white p-lg-14 p-12 border-0 w-100 btn-login-submit">登入</button>
                </form>
            </div>
        </div>
    </div>
</div>