<ul class="layout-left-ul p-0 mt-40 position-relative">
  <li class="mb-12"> 
    <a href="#" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">今日餐點</a></li>
  <li class="mb-12">
    <a href="#tea-calendar" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">行事曆</a></li>
  <li class="mb-12">
    <a href="#find-store" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">找店家</a></li>
  <li class="mb-12">
    <a href="#comment" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">看評價留言</a></li>
  <li>
    <a href="#novice-teaching" class="d-flex align-items-center"><img src="/assets/images/icon/frame-392.png" class="layout-left-img" alt="icon">新手教學</a></li>
  </li>
</ul>