<a class="btn-notification position-fixed z-1 d-block cursor-pointer notification-hover btnNotification"
    id="notificationToastBtn">
    <iconify-icon class="p-8 bg-brand-02 rounded-circle" icon="ion:notifications-outline" style="color: white;"
        width="28" height="28"></iconify-icon>
    <div class="btn-notification-alert rounded-circle bg-brand-01 border border-brand-04 border-1  position-absolute btnNotificationAlert"></div>
</a>

<!-- notification-container -->
<div class="position-fixed notification-container" style="z-index: 1030">
    <div id="notificationToast"
        class="overflow-hidden border-2 border-brand-05 border bg-white notification-body toast toast-no-shadow"
        role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="d-flex justify-content-between align-items-center py-md-20 px-md-24 p-16 bg-brand-05">
            <span class="fs-md-24 fs-20 fw-bold lh-sm ">通知</span>
            <a class="d-block cursor-pointer" data-bs-dismiss="toast" aria-label="Close">
                <iconify-icon icon="ic:round-close" style="color: #8B8B8A;" width="32"></iconify-icon>
            </a>
        </div>
        <div class="px-md-20 py-md-24 p-16">
            <ul class="notification-messages">
                <li><a href="#" class="d-block">
                        <p class="mb-12 text-brand-02 fw-medium fs-md-20 fs-16 lh-sm">您的投票結果已開票！請前往跟團點餐</p>
                        <div class="d-flex justify-content-between mb-8">
                            <span class="text-gray-02">店家</span>
                            <span>飲舞者</span>
                        </div>
                        <div class="d-flex justify-content-between ">
                            <span class="text-gray-02">預定訂購時間</span>
                            <time>2023/08/14</time>
                        </div>
                    </a></li>
                <li><a href="#" class="d-block">
                        <p class="mb-12 text-brand-02 fw-medium fs-md-20 fs-16 lh-sm">您的跟團已確認成團！請盡速向團主付款</p>
                        <div class="d-flex justify-content-between mb-8">
                            <span class="text-gray-02">店家</span>
                            <span>飛餐</span>
                        </div>
                        <div class="d-flex justify-content-between ">
                            <span class="text-gray-02">預定訂購時間</span>
                            <time>2023/08/12</time>
                        </div>
                    </a></li>
                <li><a href="#" class="d-block">
                        <p class="mb-12 text-brand-02 fw-medium fs-md-20 fs-16 lh-sm">您主辦的開團失敗！謝謝您的發起</p>
                        <div class="d-flex justify-content-between mb-8">
                            <span class="text-gray-02">店家</span>
                            <span>速食窩</span>
                        </div>
                        <div class="d-flex justify-content-between ">
                            <span class="text-gray-02">預定訂購時間</span>
                            <time>無</time>
                        </div>
                    </a></li>
                <li><a href="#" class="d-block">
                        <p class="mb-12 text-brand-02 fw-medium fs-md-20 fs-16 lh-sm">跟團訂單「編號 11111」已付款</p>
                        <div class="d-flex justify-content-between mb-8">
                            <span class="text-gray-02">店家</span>
                            <span>飛餐</span>
                        </div>
                        <div class="d-flex justify-content-between ">
                            <span class="text-gray-02">預定訂購時間</span>
                            <time>2023/08/12</time>
                        </div>
                    </a></li>
                <li><a href="#" class="d-block">
                        <p class="mb-12 text-brand-02 fw-medium fs-md-20 fs-16 lh-sm">您的投票結果已開票！請前往跟團點餐</p>
                        <div class="d-flex justify-content-between mb-8">
                            <span class="text-gray-02">店家</span>
                            <span>茶源 ChaSource</span>
                        </div>
                        <div class="d-flex justify-content-between ">
                            <span class="text-gray-02">預定訂購時間</span>
                            <time>2023/08/18</time>
                        </div>
                    </a></li>
            </ul>
        </div>
    </div>
</div>

<!-- jQuery -->
<script>
    // 通知按鈕點擊切換通知提示圓點
    $('.btnNotification').click(function (e) {
        $('.btnNotificationAlert').addClass('d-none');
        $('#notificationToast').toast('hide')
    });
</script>