<div class="container py-32 py-lg-80" id="novice-teaching">
    <div class="d-flex justify-content-between align-items-center ">
        <h2 class="fs-md-32 fs-24 fw-bold lh-sm">新手教學</h2>
        </a>
    </div>
    <div class="row mt-32">
        <div class="col-md-2">
            <ul class="x-slide d-flex flex-row flex-md-column gap-8 gap-md-12">
                <li><button
                        class="x-slide-btn fw-medium p-12 p-lg-16  btn-active w-100 text-start border-0 bg-transparent fs-xl-20 fs-16 text-gray-02 border-radius-16 btn-hover-gray-04 actived"
                        id="QA1">點餐步驟</button>
                </li>
                <li><button
                        class="x-slide-btn fw-medium p-12 p-lg-16  btn-active w-100 text-start border-0 bg-transparent fs-xl-20 fs-16 text-gray-02 border-radius-16 btn-hover-gray-04 "
                        id="QA2">投票 /
                        舉辦投票</button>
                </li>
                <li><button
                        class="x-slide-btn fw-medium p-12 p-lg-16  btn-active w-100 text-start border-0 bg-transparent fs-xl-20 fs-16 text-gray-02 border-radius-16 btn-hover-gray-04 "
                        id="QA3">許願留言</button>
                </li>
                <li><button
                        class="x-slide-btn fw-medium p-12 p-lg-16  btn-active w-100 text-start border-0 bg-transparent fs-xl-20 fs-16 text-gray-02 border-radius-16 btn-hover-gray-04 "
                        id="QA4">訂單問題</button>
                </li>
                <li><button
                        class="x-slide-btn fw-medium p-12 p-lg-16  btn-active w-100 text-start border-0 bg-transparent fs-xl-20 fs-16 text-gray-02 border-radius-16 btn-hover-gray-04 "
                        id="QA5">常見問題</button>
                </li>
            </ul>
        </div>
        <div class="col-md-10 mt-24 mt-md-0" id="showAns">
            <ul class="px-md-24 px-12 pb-md-40 pb-24 border-bottom border-1 border-brand-03 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">如何點餐（跟團）</h3>
                <p class="mt-24">您可藉由以下三種路徑查看開團中項目</p>
                <li class="mt-20">1. 『首頁 / 午茶行事曆』區塊</li>
                <li class="mt-4">2. 『點餐』頁面</li>
                <li class="mt-4">3. 『訂餐月曆』</li>
                <li class="mt-4">4. 午茶夥伴的邀請網址</li>
            </ul>
            <ul class="px-md-24 px-12 pb-md-40 pb-24 mt-md-40 mt-24 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">如何邀請他人點餐（開團）</h3>
                <p class="mt-24">您可藉由以下兩種路徑，尋找喜愛的店家，進入店家專頁後，點選「建立揪團」按鈕</p>
                <li class="mt-20">1. 『首頁 / 找店家』區塊</li>
                <li class="mt-4">2. 『點餐』頁面</li>
                <p class="mt-20">建立揪團成功後，將獲得揪團網址，快分享給午茶夥伴們吧！</p>
            </ul>
        </div>
        <div id="instructions"></div>
        <!-- <div class="pb-24 px-12 px-md-24 d-flex align-items-center" onclick="toggleLike()">
            <div class="heartIcon1">
                <iconify-icon icon="material-symbols:favorite-outline" style="color: #8b8b8a;"></iconify-icon>
            </div>
            <div class="likeCount1 ms-4">1</div>
        </div> -->
    </div>
</div>
<script>
    // 愛心累加
    // let isLike1 = false;
    // let likeCount1 = 0;
    // function toggleLike() {
    //     let heartIcon1 = document.querySelector(".heartIcon1");
    //     let likeCountText1 = document.querySelector(".likeCount1");
    //     if (isLike1) {
    //         heartIcon1.innerHTML = `<iconify-icon icon="material-symbols:favorite-outline" style="color: #8b8b8a;"></iconify-icon>`;
    //         likeCount1--;
    //     } else {
    //         heartIcon1.innerHTML = `<iconify-icon icon="ic:baseline-favorite" style="color: #fd909f;"></iconify-icon>`;
    //         likeCount1++;
    //     }
    //     isLike1 = !isLike1;
    //     likeCountText1.textContent = likeCount1
    // }

    // 獲取所有按鈕元素
    var buttons = document.querySelectorAll('.btn-active');
    // var btn2 = document.querySelector('#btn2');

    var showAns = document.getElementById('showAns');
    var QA1 = document.querySelector('#QA1');
    var QA2 = document.querySelector('#QA2');
    var QA3 = document.querySelector('#QA3');
    var QA4 = document.querySelector('#QA4');
    var QA5 = document.querySelector('#QA5');

    // 添加點擊事件處理程序
    buttons.forEach(function (button) {
        button.addEventListener('click', function () {
            // 移除所有按鈕的背景色
            buttons.forEach(function (btn) {
                btn.classList.remove('actived');
            });
            // 將當前按鈕設置為灰色背景
            button.classList.add('actived');

            if (button === QA1) {
                showAns.innerHTML = `<ul class="QA-ul px-md-24 px-12 pb-md-40 pb-24 border-bottom border-1 border-brand-03 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">如何點餐（跟團）</h3>
                <p class="mt-24">您可藉由以下三種路徑查看開團中項目</p>
                <li class="mt-20">1. 『首頁 / 午茶行事曆』區塊</li>
                <li class="mt-4">2. 『點餐』頁面</li>
                <li class="mt-4">3. 『訂餐月曆』</li>
                <li class="mt-4">4. 午茶夥伴的邀請網址</li>
            </ul>
            <ul class="QA-ul px-md-24 px-12 pb-md-40 pb-24 mt-md-40 mt-24 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">如何邀請他人點餐（開團）</h3>
                <p class="mt-24">您可藉由以下兩種路徑，尋找喜愛的店家，進入店家專頁後，點選「建立揪團」按鈕</p>
                <li class="mt-20">1. 『首頁 / 找店家』區塊</li>
                <li class="mt-4">2. 『點餐』頁面</li>
                <p class="mt-20">建立揪團成功後，將獲得揪團網址，快分享給午茶夥伴們吧！</p>
            </ul>`
            } else if (button === QA2) {
                showAns.innerHTML = `<ul class=" QA-ul px-md-24 px-12 pb-md-40 pb-24 border-bottom border-1 border-brand-03 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">我想投票</h3>
                <p class="mt-24">您可藉由以下三種路徑查看投票中的項目</p>
                <li class="mt-20">1. 『首頁 / 午茶行事曆』區塊</li>
                <li class="mt-4">2. 『投票』頁面</li>
                <li class="mt-4">3. 『訂餐月曆』頁面</li>
                <li class="mt-4">4. 午茶夥伴的邀請網址</li>
            </ul>
            <ul class="QA-ul px-md-24 px-12 pb-md-40 pb-24 mt-md-40 mt-24 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">我想舉辦投票</h3>
                <p class="mt-24">您可藉由以下兩種路徑，尋找喜愛的店家，進入店家專頁後，點選「舉辦投票」按鈕</p>
                <li class="mt-20">1. 『首頁 / 找店家』區塊</li>
                <li class="mt-4">2. 『點餐』頁面</li>
                <p class="mt-20">建立投票成功後，將獲得投票網址，快分享給午茶夥伴們吧！</p>
            </ul>`
            } else if (button === QA3) {
                showAns.innerHTML = `<ul class="QA-ul px-md-24 px-12 pb-md-40 pb-24 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">我想許願</h3>
                <p class="mt-24">店家清單中沒有您的愛店嗎？ 或是有任何心得感想呢？<br> 請至『留言』頁面留下您的想法</p>`
            } else if (button === QA4) {
                showAns.innerHTML = `<ul class="QA-ul px-md-24 px-12 pb-md-40 pb-24 border-bottom border-1 border-brand-03 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">如何查看訂單歷史記錄？</h3>
                <p class="mt-24">登入後，可至使用者後台，查看跟團中訂單以及歷史訂單</p>
                </ul>
                <ul class=" QA-ul px-md-24 px-12 pb-md-40 pb-24 mt-md-40 mt-24 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">如何取消或修改已經下單的訂單？</h3>
                <li class="mt-20">1. 至使用者後台點選『訂單』即可看到『修改訂單』</li>
                <li class="mt-4">2. 請注意 : 僅於點餐期限截止前仍可取消 or 修改已送出的內容，截止後恕不異動</li>
            </ul>
                `
            } else if (button === QA5) {
                showAns.innerHTML = `<div class="QA-ul px-md-24 px-12 pb-md-40 pb-24 fs-md-20 fs-16">
                <h3 class="fs-md-24 fs-20 text-brand-03">我想發問</h3>
                <p class="mt-24">請至『新手教學』專頁參考常見問題</p></div>`
            }
        });
    });
</script>