<div class="swiper-slide border border-1 border-brand-03 p-12 p-sm-40">
  <ul>
    <li class=" py-16 py-sm-24 border-bottom border-1 ">
      <button type="button" class="menu-button border-0 bg-white text-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="text-top d-flex justify-content-between align-items-center mb-8 mb-sm-16">
          <h3 class="store-order-h3">茶舞</h3>
          <div class="cold-hot d-flex justify-content-center align-items-center ">
            <div class="cold d-flex justify-content-center align-items-center ">
              <img class="me-4" src="/assets/images/icon/cold.png" alt="cold.png">
              <span class="me-8">30</span>
            </div>
            <div class="hot d-flex justify-content-center align-items-center hidden-block">
              <img class="me-4" src="/assets/images/icon/hot.png" alt="hot.png">
              <span class="">30</span>
            </div>
          </div>
        </div>
        <p class="text-top-p">結合了香濃的奶茶和清新的果茶，帶給您舞動在舌尖的美味。</p>
      </button>
    </li>
    <li class=" py-16 py-sm-24 border-bottom border-1 ">
      <button type="button" class="menu-button border-0 bg-white text-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="text-top d-flex justify-content-between align-items-center mb-8 mb-sm-16">
          <h3 class="store-order-h3">紅柚露</h3>
          <div class="cold-hot d-flex justify-content-center align-items-center ">
            <div class="cold d-flex justify-content-center align-items-center ">
              <img class="me-4" src="/assets/images/icon/cold.png" alt="cold.png">
              <span class="me-8">40</span>
            </div>
            <div class="hot d-flex justify-content-center align-items-center hidden-block">
              <img class="me-4" src="/assets/images/icon/hot.png" alt="hot.png">
              <span class="">30</span>
            </div>
          </div>
        </div>
        <p class="text-top-p">絕妙的紅茶搭配新鮮柚子，帶來微酸的口感和芳香的香氣。</p>
      </button>
    </li>
    <li class=" py-16 py-sm-24 border-bottom border-1 ">
      <button type="button" class="menu-button border-0 bg-white text-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="text-top d-flex justify-content-between align-items-center mb-8 mb-sm-16">
          <h3 class="store-order-h3">翠綠</h3>
          <div class="cold-hot d-flex justify-content-center align-items-center ">
            <div class="cold d-flex justify-content-center align-items-center ">
              <img class="me-4" src="/assets/images/icon/cold.png" alt="cold.png">
              <span class="me-8">25</span>
            </div>
            <div class="hot d-flex justify-content-center align-items-center">
              <img class="me-4" src="/assets/images/icon/hot.png" alt="hot.png">
              <span class="">25</span>
            </div>
          </div>
        </div>
        <p class="text-top-p">以優質綠茶製成，滋味清爽宜人，是您健康生活的最佳夥伴。</p>
      </button>
    </li>
    <li class=" py-16 py-sm-24 border-bottom border-1 ">
      <button type="button" class="menu-button border-0 bg-white text-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="text-top d-flex justify-content-between align-items-center mb-8 mb-sm-16">
          <h3 class="store-order-h3">柔霧</h3>
          <div class="cold-hot d-flex justify-content-center align-items-center ">
            <div class="cold d-flex justify-content-center align-items-center ">
              <img class="me-4" src="/assets/images/icon/cold.png" alt="cold.png">
              <span class="me-8">35</span>
            </div>
            <div class="hot d-flex justify-content-center align-items-center hidden-block">
              <img class="me-4" src="/assets/images/icon/hot.png" alt="hot.png">
              <span class="">30</span>
            </div>
          </div>
        </div>
        <p class="text-top-p">柔順的奶茶搭配迷人的茉莉花香，帶來優雅與幸福的味覺享受。</p>
      </button>
    </li>
    <li class=" py-16 py-sm-24">
      <button type="button" class="menu-button border-0 bg-white text-start" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="text-top d-flex justify-content-between align-items-center mb-8 mb-sm-16">
          <h3 class="store-order-h3">蜜香</h3>
          <div class="cold-hot d-flex justify-content-center align-items-center ">
            <div class="cold d-flex justify-content-center align-items-center ">
              <img class="me-4" src="/assets/images/icon/cold.png" alt="cold.png">
              <span class="me-8">30</span>
            </div>
            <div class="hot d-flex justify-content-center align-items-center">
              <img class="me-4" src="/assets/images/icon/hot.png" alt="hot.png">
              <span class="">30</span>
            </div>
          </div>
        </div>
        <p class="text-top-p">香濃的茶香中混合著芳醇的蜂蜜，為您的口腔帶來溫暖和滋潤。</p>
      </button>
    </li>
  </ul>
</div>