<div class="layout-content py-16 py-md-84">
  <div class="container mb-16 mb-sm-32">
    <div class=" d-flex justify-content-between align-items-center mb-8 mb-sm-24">
      <h2 class="fs-md-32 fs-24 fw-bold lh-sm">看評價</h2>
      <button
        class="d-flex justify-content-center align-items-center px-24 py-10 py-sm-14 border-radius-40 btn btn-brand-03 btn-hover-brand-01"
        data-bs-toggle="modal" data-bs-target="#modal-WriteReview">
        <p class="text-white word-break-keep-all">寫評價</p>
      </button>
    </div>
    <p class="fs-sm-24 text-gray-02">對店家的最新評價</p>
  </div>
  <div class="container mb-sm-24">
    <div class="rating-Ul row flex-nowrap flex-md-wrap horizontal-scroll-a overflow-auto pb-8">
      <div class="feedback-style col-12 col-md-6 pt-32 pt-sm-48 ">
        <div class="bg-brand-05 border-radius-16 px-12 px-sm-24 pb-12 pb-sm-24 custom-shadow-025">
          <div class=" transform-32-sm-48 d-flex ">
            <img class="people-img border-radius-24 border border-2 border-line me-16 border border-primary " src="/assets/images/user/male/user-male-02.jpg" alt="user-img">
              <div class="feedback-content w-100 d-flex flex-column justify-content-end ">
                <div class="d-flex">
                  <div class="d-flex flex-column justify-content-end ">
                    <div class="star-list mb-md-8">
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="" style="color: #ffd43a;" width="16"></iconify-icon>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="fs-16 fs-md-20 text-gray-02">陳瑋</p>
                  <time datetime="2023-09-01" class="">2023/09/01</time>
                </div>
              </div>
          </div>
          <p class="line-clamp-2">喜歡喝後帶來的清新感，每次來都能享受到非常愉快的時光，謝謝店家的用心</p>
        </div>
      </div>
      <div class="feedback-style col-12 col-md-6 pt-32 pt-sm-48  mb-md-32">
        <div class="bg-brand-05 border-radius-16 px-12 px-sm-24 pb-12 pb-sm-24 custom-shadow-025">
          <div class=" transform-32-sm-48 d-flex ">
            <img class="people-img border-radius-24 border border-2 border-line me-16" src="/assets/images/user/male/user-male-11.jpg" alt="user-img">
              <div class="feedback-content w-100 d-flex flex-column justify-content-end ">
                <div class="d-flex">
                  <div class="d-flex flex-column justify-content-end ">
                    <div class="star-list mb-md-8">
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="fs-16 fs-md-20 text-gray-02">陳冠廷</p>
                  <time datetime="2023-08-03" class="">2023/08/03</time>
                </div>
              </div>
          </div>
          <p class="line-clamp-2">我今天的幸福都在這裡了，謝謝團主大大！</p>
        </div>
      </div>
      <div class="feedback-style col-12 col-md-6 pt-32 pt-sm-48 ">
        <div class="bg-brand-05 border-radius-16 px-12 px-sm-24 pb-12 pb-sm-24 custom-shadow-025">
          <div class=" transform-32-sm-48 d-flex ">
            <img class="people-img border-radius-24 border border-2 border-line me-16" src="/assets/images/user/female/user-female-15.jpg" alt="user-img">
              <div class="feedback-content w-100 d-flex flex-column justify-content-end ">
                <div class="d-flex">
                  <div class="d-flex flex-column justify-content-end ">
                    <div class="star-list mb-md-8">
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="fs-16 fs-md-20 text-gray-02">盧子晴</p>
                  <time datetime="2023-08-03" class="">2023/08/03</time>
                </div>
              </div>
          </div>
          <p class="line-clamp-2">飲料口味都很特別，琥珀奶香有夠奶的，濃醇香就是這個意思吧。前幾天忍不住跑到現場，店裝潢的也很漂亮很文青。</p>
        </div>
      </div>
      <div class="feedback-style col-12 col-md-6 pt-32 pt-sm-48 ">
        <div class="bg-brand-05 border-radius-16 px-12 px-sm-24 pb-12 pb-sm-24 custom-shadow-025">
          <div class=" transform-32-sm-48 d-flex ">
            <img class="people-img border-radius-24 border border-2 border-line me-16" src="/assets/images/user/female/user-female-16.jpg" alt="user-img">
              <div class="feedback-content w-100 d-flex flex-column justify-content-end ">
                <div class="d-flex">
                  <div class="d-flex flex-column justify-content-end ">
                    <div class="star-list mb-md-8">
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class="me-4" style="color: #ffd43a;" width="16"></iconify-icon>
                      <iconify-icon icon="ic:round-star" class=" " style="color: #C2C1BD;" width="16"></iconify-icon>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="fs-16 fs-md-20 text-gray-02">黃莉琳</p>
                  <time datetime="2023-09-01" class="">2023/08/03</time>
                </div>
              </div>
          </div>
          <p class="line-clamp-2">大推柚香翠玉，香味清香撲鼻，茶味甘甜，入口醇郁濃厚，加上葡萄柚的酸爽，清涼退火。還有️淡雅桂花香和甘潤烏龍茶味，不僅養顏美容又醇厚好喝。還不趕緊跟著我立刻訂起來！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center d-none d-md-block">
    <a href="#">
      <img src="/assets/images/icon/bxs-down-arrow.png" alt="bxs-down-arrow.png" class="animation-bounce">
    </a>
  </div>
</div>
