<div class="d-flex align-items-center justify-content-center gap-16">                
    <div class="spinner-border text-brand-02 spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class='fs-16 fs-md-20'>資料讀取中，請稍等一下！</p>
</div>