/* custom nav menu offcanvas ===
================================*/
.account-modal-dialog {
  max-width: 351px;

  @include media-breakpoint-up(lg) {
    max-width: 416px;
  }
}

/* custom btn - switch user & admin login ==========
================================*/
// .btn-login {
//   color: $brand-02;
//   transition: all 0.3s;
// }

/* custom input - account & password ==========
================================*/
.login-bar:focus-visible {
    outline: 2px solid $gray-03;
}


/* custom checkbox - remember me ==========
================================*/
.remember {
  &-content {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
  }

  // 隱藏預設的 checkbox
  &-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  // 當 content 被點選，checkmark改變背景色
  &-content input:checked~.remember-checkmark {
    background-color: $brand-01;
    border: none;
  }

  // content 被點選，checkmark:after 改為 block 屬性
  &-content input:checked+.remember-checkmark:after {
    display: block;
  }

  // 客製 checkmark 樣式
  &-checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid $brand-01;
    border-radius: 3px;

    &:hover {
      background-color: $brand-04;
    }

    // 創造勾勾樣式
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 0px;
      top: 0px;
      background-image: url("../images/icon/icon-checkbox-check.svg");
      width: 24px;
      height: 24px;
    }
  }
}

/* custom input - login ==========
================================*/
.form-validated-effect {

  .was-validated .form-control:valid,
  .was-validated .form-control:invalid {
    background-image: none;
    box-shadow: none;
  }

  .was-validated .form-control:invalid {
    outline: 2px solid $brand-02;
  }
}

.account-login-modal{  
  .modal-dialog {
    margin: 0 auto;
  }
}

.btn-reset-password:hover{
  text-decoration: underline;
}