.x-slide-btn {
    @media (max-width: 767.98px) {
        white-space: nowrap;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        transition: 0.5s;
    }
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    // align-self: center;
    &:hover {
        background-color: $gray-04 !important;
        color: $gray-01 !important;
    }
    &:focus {
        border: 0;
        box-shadow: none;
        background-color: $brand-01;
        color: white;
    }
}

// 區塊位移
@media (max-width: 767.98px) {
    .find-store {
        .select-bar {
            transform: translateY(96px);
        }
        .x-slide {
            transform: translateY(-80px);
        }
    }
}

.findStore-card {
    border-radius: 16px;
    background: rgba(30, 30, 30, 0.6);
    // backdrop-filter: blur(4px);
    bottom: 12px;
    width: calc(100% - 24px);
    height: 64px;
    padding: 8px 12px;
    @media (max-width: 767.98px) {
        height: 52px;
        padding: 8px;
        width: calc(100% - 16px);
        bottom: 8px;
        font-size: 16px;
    }
}
.findStore-img {
    background-size: cover;
    background-position: center;
    height: 251px;
    border-radius: 64px 64px 16px 16px;
    // border: 2px solid white;
    width: calc((100% - 72px) / 4);
    @media (max-width: 1400px) {
        width: calc((100% - 24px) / 3);
    }
    @media (max-width: 767.98px) {
        width: calc((100% - 16px) / 2);
        height: 170px;
        border-radius: 40px 40px 16px 16px;
    }
    &:hover {
        border: 2px solid #dfd3be;
    }
}
.findStore-card-img {
    border-radius: 48px;
    background: $brand-04;
    padding: 12px;
    width: 48px;
    height: 48px;
    @include media-breakpoint-down(lg) {
        padding: 6px;
        width: 36px;
        height: 36px;
    }
}

.x-slide button {
    transition: 0.3s;
}
