.footer{
  &-logo{
    width: 196px;
    height: 32px;

    @include media-breakpoint-up(lg) {
      width: 248px;
      height: 40px;
    }

  }

  &-radius {
    border-top-right-radius: 5rem; // 80
    border-top-left-radius: 5rem; // 80
  
    @include media-breakpoint-up(lg) {
      border-top-right-radius: 18.75rem; // 300
      border-top-left-radius: 18.75rem; // 300
    }
  }
}