.tea-calendar {
    border-radius: 0px 200px 0px 0px;

    @include media-breakpoint-up(lg) {
        padding-right: 16.25%;
        padding-left: 16.25%;
    }

    .type-link {
        transition: all 0.3s;
        background-color: $brand-05;

        &:hover {
            background-color: $bg-2;
        }

        &:active {
            background-color: $brand-02;
            color: white !important;
        }
    }

    .event-rounded {
        border-radius: 40px 40px 16px 16px;

        @include media-breakpoint-up(md) {
            border-radius: 80px 80px 16px 16px;
        }
    }

    .event-pic {
        width: 96px;
        height: 96px;
        border-radius: 32px 32px 16px 16px;
        object-fit: cover;

        @include media-breakpoint-up(md) {
            width: 100%;
            height: 100%;
            border-radius: 64px 64px 16px 16px;
        }
    }

    .time-rounded {
        border-radius: 16px;
    }
}

.active {
    background-color: $brand-02 !important;
    color: $white !important;
}

.text-sm-nowrap {
    white-space: wrap;

    @include media-breakpoint-up(sm) {
        white-space: nowrap;
    }
}