.calendar {
  &-title-translateY {
    transform: translateY(-40%);

    @include media-breakpoint-up(md) {
      transform: translateY(-50%);
    }
  }

  &-photo {
    width: 64px;
    height: 64px;
    border-radius: 16px;

    @include media-breakpoint-up(md) {
      width: 96px;
      height: 96px;
      border-radius: 24px;
    }
  }
}


/* evoCalendar */
.evo-calendar {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 20px;
  border: 1px solid $brand-02;
}

/* 日曆主體 */
.calendar-inner {
  padding: 0px;
}

/* 月份標題 */
th[colspan="7"] {
  color: white;
  font-size: 20px;
  background: $brand-02;
  padding: 10px;

  @media (max-width: 425px) {
    background-color: white;
    padding: 70px 0 0 0;
    color: $gray-05;
  }

  &:after {
    width: 0;
  }
}

/* 星期 */
tr.calendar-header .calendar-header-day {
  padding: 24px 0 10px 0;
  font-size: 16px;
  color: $gray-05;
}


tr.calendar-body .calendar-day {
  padding: 10px 0;

  .day {
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 16px;
    color: $gray-05;
  }

  /* 今日標註 */
  .day.calendar-today {
    background-color: $gray-04;
    color: #1E1E1E;

    &:hover {
      background-color: $gray-03;
    }
  }

}

/* 事件註記 */
.event-indicator {
  display: flex;
  top: 120%;

  @media (max-width: 425px) {
    top: 80%;
  }
}

/* 月份選擇側邊欄 */
.calendar-sidebar {
  background: $brand-02;
  -webkit-box-shadow: 5px 0 18px -3px $brand-02;
  box-shadow: 5px 0 18px -3px $brand-02;

  >span#sidebarToggler {
    background-color: $brand-02;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  >.calendar-year {
    padding: 10px 0;

    @media (max-width: 425px) {
      background-color: $brand-02;
      padding: 12px 0;
    }

    /* btn-年份切換 */
    >button.icon-button {
      width: 10px;
      height: 10px;
      margin: 0 10px;
    }

    /* 年 */
    >p {
      font-size: 20px;
    }
  }

  /* 月份清冊 */
  .month-list {
    overflow-y: auto;
    height: 85%;

    @media (max-width: 425px) {
      background-color: $brand-02;
      padding: 12px 0;
    }

    >.calendar-months {
      @media screen and (max-width: 425px) {
        top: 10px;
      }

      >li.active-month {
        background-color: white;
        color: $brand-02;
      }

      >li:hover {
        background-color: white;
        color: $brand-02;
      }
    }
  }
}

/* 事件顯示 */
.calendar-events {
  opacity: 0;
}


/* 投票 modal */
.votingcard-photo {
  width: 96px;
  height: 96px;

  @include media-breakpoint-up(md) {
    width: 128px;
    height: 128px;
  }
}

.voting-progress{
  // width: 70px;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 120px;
    // height: 12px;
  }
}

/* 時間選擇 Flat picker */
.flatpickr-day.selected, .flatpickr-day.selected, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:hover{
  background-color: white;
  border-color:$gray-01;
  color:$gray-01;
}

.flatpickr-day.today{
  background-color: $gray-04;
  border: none;
}