.order {
  &-bg {
    width: 100%;
    height: 220px;
    background-color:#BFA373; 
    border-radius: 56px;

    @include media-breakpoint-down(lg) {
      border-radius: 0px;
    }

    @include media-breakpoint-down(sm) {
      height: 80px;
    }
  }

  &-content {
    transform: translateY(-62px);
    margin-bottom: -62px;

    @include media-breakpoint-down(sm) {
      transform: translateY(-68px);
      margin-bottom: -68px;
    }
  }

  &-icon {
    max-width: 196px;

    @include media-breakpoint-down(sm) {
      max-width: 96px;
    }
  }

  &-textContent {
    h2 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; //顯示行數
      overflow: hidden;
    }
  }

  &-content-p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //顯示行數
    overflow: hidden;
  }

  .imgItems {
    img {
      @include media-breakpoint-down(sm) {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.btnList {
  &-items {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    img {
      @include media-breakpoint-down(sm) {
        width: 20px;
      }
    }

    p {
      font-size: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }
}

.allMenu {
  .swiper-slide {
    border-radius: 80px;

    @include media-breakpoint-down(sm) {
      border-radius: 40px 40px 16px 16px;
    }
  }

  .text-top {
    h3 {
      font-size: 24px;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }

    span {
      font-size: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }

  .text-top-p {
    font-size: 20px;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //顯示行數
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      height: 48px;
    }
  }
  
  li:last-child {
    border: none !important;
  }
}

.feedback-style {
  @include media-breakpoint-down(md) {
    width: 82.64%;
  }

  .people-img {
    @include media-breakpoint-down(md) {
      border-radius: 16px;
      width: 64px;
      height: 64px;
    }
  }

  .feedback-content {
    p {
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }

  .star-list {
    img {
      @include media-breakpoint-down(md) {
        width: 12px;
      }
    }
  }
}

// 清除滾動條樣式
.horizontal-scroll-a::-webkit-scrollbar {
  display: none;
}

.hidden-block {
  visibility: hidden;
}

.pagination {
  img {
    width: 16px;
    height: 16px;
  }
}

.page-item {
  a:hover {
    background-color: $gray-04 !important;
    color: $gray-01 !important;
  }

  a:focus {
    pointer-events: none;
    /* 取消点击事件 */
    border: 0;
    box-shadow: none;
    background-color: $brand-01;
    color: white;
  }
}

// 開團中 collapse 圖片變化
.event-img-RWD {
  width: 96px;
  height: 96px;
  border-radius: 32px 32px 16px 16px;

  @include media-breakpoint-up(md) {
    width: 100%;
    height: 100%;
    border-radius: 64px 64px 16px 16px;
  }
}

// 為了讓開團中卡片按照順序縱列顯示，必須限制高度
.togetherEventSwiper {
  // height: 580px;
  height: 308px;

  @media (min-width: 400px) {
    // height: 520px;
    height: 280px;
  }

  @media (min-width: 768px) {
    height: auto;
  }

  .swiper-slide {
    height: calc((100% - 12px * 3) / 2);

    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
}

// 以下為 modal 菜單
// modal 右側滾動條
::-webkit-scrollbar {
  display: none;
}

// modal
.modal-storeOrder-menu {
  max-width: 416px;
  padding: 24px 40px 40px 40px;
  @include media-breakpoint-down(md) {
    padding: 12px 16px 16px 16px;
  }
  // modal-content 內，所有 label 寬度 100%
  label {
    width: 100%;
  }
}

// modal 菜單 checkbox 樣式 開始
.checkboxStyle-content {
  position: relative;
  cursor: pointer;
}
.checkboxStyle-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkboxStyle-content input:checked ~ .checkboxStyle-checkmark {
  background-color: #fd909f;
}
.checkboxStyle-content input:checked + .checkboxStyle-checkmark:after {
  display: block;
}
/* 移除選取狀態時的邊框*/
.checkboxStyle-content input:checked ~ .checkboxStyle-checkmark {
  border: none;
}
.checkboxStyle-checkmark {
  position: absolute;
  top: 8px;
  right: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #1e1e1e;
  border-radius: 3px;
  @include media-breakpoint-down(md) {
    top: 3.5px;
  }
}
.checkboxStyle-checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// modal 菜單 checkbox 樣式 結束

// modal 菜單 radio 樣式 開始
.radio-label {
  position: relative;
  width: 100%;
}
.input-radio-style + label::after {
  position: absolute;
  top: 8px;
  right: 0;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999999;
  margin-right: 0.2rem;
  box-sizing: border-box;
  margin-top: -0.1rem;
  @include media-breakpoint-down(md) {
    top: 3.5px;
  }
}
.input-radio-style:checked + label::after {
  background-color: #fd909f;
  background-clip: content-box;
  border: 1.25px solid #fd909f;
  padding: 0.2rem;
  box-sizing: border-box;
}
.input-radio-style {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

// modal 菜單 radio 樣式 結束

// modal 購物車 開始
.select-payer {
    width: 300px;
    padding: 8px;
    border-radius: 16px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("/assets/images/icon/down-arrow-storeOrder.svg");
    background-size: 20px 15px;
    background-position: right 14px top 50%, 0 0;
    background-repeat: no-repeat;
  }
  // modal 購物車 結束

  // Pagination.js
  .paginationjs-page, .paginationjs-next, .paginationjs-prev{
    border: 0px solid #000 !important;
    border-radius: 8px;
  }
  
  .paginationjs .paginationjs-pages li.active>a {
    background: $brand-01;
    color: #fff;
    cursor: default;
  }

// 寫評價modal

.count {
  width: 30px;
  height: 30px;
}

.starInMember,
.starInModal,
.starInRwd {
  color: #8b8b8a;
  cursor: pointer;
}

.memberEvaluate {
  height: 220px;
}

textarea:focus {
  outline: 1px solid #c2c1bd !important;
  /* 设置获得焦点时的边框颜色为灰色 */
}

.memberbtn-actived {
  border-bottom: 4px solid #dfd3be;
}

// 按鈕旋轉180度

.transform180{
  transform: rotate(180deg);
  transition: transform 0.8s linear;
}