<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>

  <body class="pt-64 pt-md-82">
    <!-- loading -->
    <%- include('./layout/loading'); -%>

      <%- include('./layout/nav'); -%>
        <div class="py-32 py-md-80 layout-content container calendar">
          <h2 class="mb-16 mb-md-32 fs-24 fs-md-32 fw-bold lh-sm">訂餐月曆</h2>
          <div class="row flex-column flex-md-row gy-48 g-md-24">
            <!-- 月曆 -->
            <div class="col col-md-5">
              <div id="calendar" class="mb-32"></div>
              <div class="d-flex gap-4">
                <button type="button"
                  class="px-16 py-10 px-sm-23 py-sm-14 border-radius-40 border-0 btn btn-brand-04 text-brand-01 d-flex justify-content-center align-items-center btn-hover-bg-1 w-50 fs-20 fw-medium "
                  data-bs-toggle="modal" data-bs-target="#modal-CreateVoting">
                  建立投票
                </button>
                <button type="button"
                  class="px-16 py-10 px-sm-23 py-sm-14 border-radius-40 border-0 btn btn-brand-05 text-brand-02 d-flex justify-content-center align-items-center btn-hover-bg-2 w-50 fs-20 fw-medium "
                  data-bs-toggle="modal" data-bs-target="#modal-CreateGroup">
                  建立揪團
                </button>
              </div>
            </div>
            <!-- 活動內容 -->
            <ul class="col col-md-7 d-flex flex-column gap-48 gap-md-72 pt-32 pt-md-48 calendarEvent">
            </ul>
          </div>
        </div>

        <!-- 建立揪團 Modal -->
        <div class="modal fade" id="modal-CreateGroup" tabindex="-1" aria-labelledby="modal-CreateGroup"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center fs-20 fw-medium py-40">
                <p>請前往<a class="text-brand-02 btn-hover-underline-brand-02" href="./findStore.html">『找店家』</a></p>
                <p>選擇建立揪團的店家</p>
              </div>
            </div>
          </div>
        </div>

        <!-- 投票 Modal -->
        <div class="modal fade account-login-modal" id="votingModal" tabindex="-1" aria-labelledby="votingModal"
          aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-centered">
            <div class="d-flex modal-content border-radius-24">
              <div class="modal-header p-16 pb-lg-40 pt-lg-24 px-lg-40 border-0">
                <h3 class="modal-title fs-lg-24 fw-lg-bold lh-sm fs-20 fw-medium ">空姐 巴黎甜點、Leisurely Café、茶源 ChaSource
                </h3>
                <a href="#votingModal" data-bs-toggle="modal"><iconify-icon icon="ic:round-close"
                    style="color: #8B8B8A;" width="32"></iconify-icon></a>
              </div>
              <div class="modal-body d-flex px-16 pb-16 px-lg-40 pb-lg-40 container">
                <div class="row">
                  <div class="col col-md-5">
                    <ul class="d-flex flex-column gap-4 gap-md-8">
                      <li>
                        <span class="me-16">享用日期</span>
                        <span class="me-8">10/10</span>
                        <span>14:00</span>
                      </li>
                      <li>
                        <span class="me-16">截止時間</span>
                        <span class="me-8">10/10</span>
                        <span>14:00</span>
                      </li>
                      <li>
                        <span class="me-16">發起人</span>
                        <span>林立杰</span>
                      </li>
                      <li>
                        <span class="me-16">請客人</span>
                        <span>無</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col col-md-7">
                    <ul>
                      <li class="d-flex gap-12 p-12 border border-brand-03 border-radius-40401616">
                        <img class="border-radius-32321616" src="../assets/images/store-logo/store-01-s.jpg"
                          alt="store-photo">
                        <div>
                          <h4 class="mb-8 fs-16 fs-md-20 lh-sm text-brand-03">速食窩</h4>
                          <p class="mb-8 mb-md-16 text-gray-02 trippleline-ellipsis">
                            我們提供多樣化的速食選項，從經典漢堡到口感豐富的薯條，讓您在匆忙時刻也能享受美味滿足。</p>
                          <div class="d-flex justify-content-between ">
                            <div class="d-flex align-items-center">
                              <span class="me-16 text-gray-02">成團目標</span>
                              <div class="progress me-4" style="width: 120px;height: 12px;">
                                <div class="progress-bar bg-brand-02" role="progressbar" style="width:50%"
                                  aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <span class="fs-16 text-brand-02">50%</span>
                            </div>
                            <button
                              class="py-4 px-16 btn-brand-04 btn-hover-brand-02 rounded-pill text-brand-02">投票</button>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- footer -->
        <%- include('./layout/footer'); -%>

          <!-- notification -->
          <%- include('./layout/notification'); -%>

            <!-- ICONGIFY -->
            <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

            <!-- JS -->
            <script type="module" src="../main.js"></script>

            <!-- calendar import-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

            <!-- Axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

            <!-- evo-calendar -->
            <script src="https://www.jsdelivr.com/package/npm/evo-calendar"></script>
            <!-- Add the evo-calendar.js for.. obviously, functionality! -->
            <script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>

            <!-- Json-server -->
            <script>
              // 使用 moment 格式化日期
              var now = moment().format('YYYY/MM/DD');
              // 初步撈取的資料
              let datas = [];
              // 整理過的事件 Data
              const calendarEventMap = {};

              /* 開團 & 投票事件撈取 */
              function init() {
                const groupingDatas = axios.get('https://teatimeapi-test.onrender.com/groupingDatas');
                const votingDatas = axios.get('https://teatimeapi-test.onrender.com/votingDatas');

                Promise.all([groupingDatas, votingDatas])
                  .then(function (res) {
                    datas = datas.concat(res[0].data)
                    datas = datas.concat(res[1].data)
                    createEventData()
                  });
              }

              init();

              /* 整理事件 Data，以 UID 做分類 */
              function createEventData() {
                datas.forEach(data => {
                  if (!calendarEventMap[data.UID]) {
                    calendarEventMap[data.UID] = {
                      id: data.UID,
                      deadlineDateTime: data.deadlineDateTime, //截止時間
                      eventDateTime: data.eventDateTime, //享用時間
                      initiator: data.initiator, //舉辦人
                      invitees: data.invitees, //請客人
                      restaurantList: data.UID.startsWith('V') ? [] : [data.restaurant],
                      restaurantPhoto: data.restaurantPhoto,
                      minGroupSize: data.minGroupSize,
                      currentGroupCondition: data.currentGroupCondition,
                      currentVotes: 0,
                      isGroup: true
                    };
                  }

                  if (data.UID.startsWith('V')) {
                    calendarEventMap[data.UID].restaurantList.push(data.restaurantName);
                    calendarEventMap[data.UID].currentVotes += data.currentVotes
                    delete calendarEventMap[data.UID].currentGroupCondition
                  } else {
                    delete calendarEventMap[data.UID].currentVotes
                  }
                });

                createEvoCalendarData()
                console.log(calendarEventMap)
                renderEvent()
              }


              /* 建立能被 evoCalendar 讀取的格式 */
              function createEvoCalendarData() {
                const calendarStr = [];

                for (const id in calendarEventMap) {
                  if (calendarEventMap.hasOwnProperty(id)) {
                    const e = calendarEventMap[id];
                    calendarStr.push({
                      id: e.id,
                      date: e.deadlineDateTime,
                      type: 'event',
                      color: e.id[0] === 'V' ? '#F0BD68' : '#FD909F'
                    });
                  }
                }

                renderCalendar(calendarStr)
              }

              /* 渲染 evoCalendar */
              function renderCalendar(calendarStr) {
                $('#calendar').evoCalendar({
                  'sidebarDisplayDefault': false,
                  'sidebarToggler': true,
                  'eventDisplayDefault': false,
                  'eventListToggler': false,
                  'todayHighlight': true,
                  'calendarEvents': calendarStr
                });
              }


              /* 獲得滑鼠點擊日期 */
              $('#calendar').on('click', function (e) {
                // 使用getActiveDate來獲取滑鼠點擊的日期
                var active_date = $('#calendar').evoCalendar('getActiveDate');
                // 格式化日期
                var formatted_ActiveDate = moment(active_date, 'MM/DD/YYYY').format('YYYY/MM/DD');
                console.log('滑鼠點擊的日期：', formatted_ActiveDate);
                renderEvent(formatted_ActiveDate)
              });

              const calendarEvent = document.querySelector(".calendarEvent")

              /* 渲染事件 */
              function renderEvent(time = now) {
                let tempEventList = ""
                console.log(time) //目前被 focus的日期

                const eventArray = Object.values(calendarEventMap);

                const filteredEvent = eventArray.filter(item => {
                  const dateTimeParts = item.deadlineDateTime.split(" ");
                  const datePart = dateTimeParts[0];
                  return datePart === time;
                });

                if (!filteredEvent.length) {
                  tempEventList += `<li class="fs-20 text-center">目前沒有下午茶活動</li>`

                } else {
                  filteredEvent.forEach(e => {
                    tempEventList += `<li>
                <div
                  class="position-relative row mx-0 flex-column gy-12 gy-md-16 p-16 p-md-24 pt-56 pb-8 pb-md-16 pt-md-8 border border-brand-03 border-radius-16">
                  <!-- 月曆卡片 title -->
                  <div
                    class="position-absolute d-flex align-items-end top-0 start-0 px-16 px-md-24 w-100 w-sm-75 calendar-title-translateY">
                    <img class="me-12 me-lg-16 calendar-photo border border-2 border-brand-03 bg-white"
                      src=${e.restaurantPhoto} alt="store-logo">
                    <h3 class="fs-20 fs-md-24 fw-medium fw-md-bold lh-sm text-brand-03 doubleline-ellipsis">${e.restaurantList.join("、")}
                    </h3>
                  </div>
                  <!-- 卡片活動類別 -->
                  <div
                    class="align-self-end py-4 py-md-8 order-last order-md-first ${e.id.startsWith("V") ? "bg-brand-01" : "bg-brand-02"} rounded-pill text-white text-center"
                    style="width:80px">${e.id.startsWith("V") ? "投票中" : "開團中"}</div>
                  <!-- 月曆卡片內容 -->
                  <ul class="row flex-column flex-xl-row g-4 g-md-8 p-0 fs-16 fs-md-20">
                  <!-- <ul class="row flex-column flex-md-row g-4 g-md-8 p-0 fs-16"> -->
                    <li class="col col-xl-7">
                      <ul class="d-flex flex-column gap-4 gap-md-8">
                        <li>
                          <span class="me-16">享用日期</span>
                          <span class="me-8">${e.eventDateTime.substring(5, 10)}</span>
                          <span>${e.eventDateTime.substring(e.eventDateTime.length - 5)}</span>
                        </li>
                        <li>
                          <span class="me-16">截止時間</span>
                          <span class="me-8">${e.deadlineDateTime.substring(5, 10)}</span>
                          <span>${e.deadlineDateTime.substring(e.deadlineDateTime.length - 5)}</span>
                        </li>
                      </ul>
                    </li>
                    ${e.id.startsWith("V") ? "" : `<li class="d-flex align-items-center order-1 order-md-end">
                      <span class="me-16">成團目標</span>                      
                      <div class="progress me-4" style="width: 120px;height: 12px;">
                          <div class="progress-bar bg-brand-02" role="progressbar" style="width:${Math.floor(e.minGroupSize / e.currentGroupCondition * 100)}%" aria-valuenow="${Math.floor(e.minGroupSize / e.currentGroupCondition * 100)}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <span class="fs-16 text-brand-02">${Math.floor(e.minGroupSize / e.currentGroupCondition * 100) > 100 ? 100 : Math.floor(e.minGroupSize / e.currentGroupCondition * 100)}%</span>
                    </li>`}
                    <li class="col col-xl-5">
                      <ul class="d-flex flex-column gap-4 gap-md-8">
                        <li>
                          <span class="me-16">請客人</span>
                          <span class="me-8">${!e.invitees ? "無" : e.invitees}</span>
                        </li>
                        <li>
                          <span class="me-16">發起人</span>
                          <span class="me-8">${e.initiator}</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>`
                  })
                }

                calendarEvent.innerHTML = tempEventList;
              }
            </script>

            <!-- Modal -->
            <!-- <script>
              const btnLinkToFindStore = document.querySelector(".btnLinkToFindStore")
              function navigateToFindStore() {
                window.location.href = "./findStore.html";
              }
              btnLinkToFindStore.addEventListener("click",navigateToFindStore)
            </script> -->


  </body>

</html>