<!DOCTYPE html>
<html lang="en" class="is-light">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>下午茶揪團去｜共享美味，打造回憶</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/images/logo/logo-favicon.png" type="image/x-icon" />
  <!-- Open Graph Tag -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="下午茶揪團去">
  <meta property="og:description" content="共享美味，打造回憶">
  <meta property="og:url" content="https://annchoucode.github.io/TeaTime-Gathering/">
  <meta property="og:image"
    content="https://raw.githubusercontent.com/AnnChouCode/TeaTime-Gathering/main/assets/images/store-logo/store-01.jpg" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="下午茶揪團去" />
  <meta name="twitter:description" content="共享美味，打造回憶" />
  <meta name="twitter:image"
    content="https://raw.githubusercontent.com/AnnChouCode/TeaTime-Gathering/main/assets/images/store-logo/store-01.jpg" />
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- 月曆 evo calendar -->
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css" />
  <!-- 時間選擇器 flatpickr -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <!-- 進度條 tocas progress -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.css" />
</head>

<body>
  <!-- loading -->
  <%- include('./layout/loading'); -%>

    <%- include('./layout/nav'); -%>
      <div class="py-32 pt-64 py-md-80 layout-content container calendar">
        <h2 class="mb-16 mb-md-32 fs-24 fs-md-32 fw-bold lh-sm">訂餐月曆</h2>
        <div class="row flex-column flex-md-row gy-48 g-md-24">
          <!-- 月曆 -->
          <div class="col col-md-5">
            <div id="calendar" class="mb-32"></div>
            <div class="d-flex gap-4">
              <!-- <button type="button"
                class="px-16 py-10 px-sm-23 py-sm-14 border-radius-40 border-0 btn btn-brand-04 text-brand-01 d-flex justify-content-center align-items-center btn-hover-bg-1 w-50 fs-20 fw-medium btnCreateVoting"
                data-bs-toggle="modal" data-bs-target="#modal-CreateVoting">
                建立投票
              </button> -->
              <a tabindex="0" role="button"
                class="px-16 py-10 px-sm-23 py-sm-14 border-radius-40 border-0 btn btn-brand-04 text-brand-01 d-flex justify-content-center align-items-center btn-hover-bg-1 w-50 fs-20 fw-medium btnCreateVoting"
                data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                data-bs-content="請先登入帳號">
                建立投票
              </a>
              <button type="button"
                class="px-16 py-10 px-sm-23 py-sm-14 border-radius-40 border-0 btn btn-brand-05 text-brand-02 d-flex justify-content-center align-items-center btn-hover-bg-2 w-50 fs-20 fw-medium "
                data-bs-toggle="modal" data-bs-target="#modal-CreateGroup">
                建立揪團
              </button>
            </div>
          </div>
          <!-- 活動內容 -->
          <ul class="col col-md-7 d-flex flex-column gap-48 gap-md-72 pt-32 pt-md-48 calendarEvent">
          </ul>
        </div>
      </div>

      <!-- 建立揪團 Modal -->
      <div class="modal fade" id="modal-CreateGroup" tabindex="-1" aria-labelledby="modal-CreateGroup"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center fs-20 fw-medium py-40">
              <p>請前往<a class="text-brand-02 btn-hover-underline-brand-02" href="./findStore.html">『找店家』</a></p>
              <p>選擇建立揪團的店家</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 投票檢索 & 投票 Modal -->
      <div class="modal fade" id="modal-VotingModal" tabindex="-1" aria-labelledby="modal-VotingModal"
        aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="d-flex modal-content border-radius-24">
            <!-- modal header -->
            <div class="modal-header py-16 py-lg-24 px-16 px-lg-40 border-0">
              <h3 class="modal-title fs-lg-24 fw-lg-bold lh-sm fs-20 fw-medium "></h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- modal body -->
            <div class="modal-body px-16 px-lg-40 pt-8 pt-lg-16">
              <div class="container-fluid">
                <div class="row flex-column flex-lg-row">
                  <!-- 活動資訊 voting info -->
                  <div class="col col-lg-4 p-0">
                    <ul class="d-flex flex-column gap-4 gap-md-8 mb-32 mb-lg-0 fs-16 fs-md-20">
                      <li class="eventDateTime">
                        <span class="me-16">享用日期</span>
                        <span class="me-8 ">00/00</span>
                        <span>00:00</span>
                      </li>
                      <li class="deadlineDateTime">
                        <span class="me-16">截止時間</span>
                        <span class="me-8">00/00</span>
                        <span>00:00</span>
                      </li>
                      <li>
                        <span class="me-16">發起人</span>
                        <span class="initiator"></span>
                      </li>
                      <li>
                        <span class="me-16">請客人</span>
                        <span class="invitees"></span>
                      </li>
                    </ul>
                  </div>
                  <!-- 投票卡片 voting card -->
                  <div class="col col-lg-8 p-0">
                    <ul class="votingCard">
                      <!-- <li class="d-flex gap-12 p-12 mb-12 border border-brand-03 border-radius-40401616">
                        <img class="border-radius-32321616 votingcard-photo" src="#" alt="store-photo">
                        <div>
                          <h4 class="mb-8 fs-16 fs-md-20 lh-sm text-brand-03">#</h4>
                          <p class="mb-8 mb-md-16 text-gray-02 trippleline-ellipsis">
                            #</p>
                          <div class="d-flex justify-content-between flex-column flex-lg-row">
                            <div class="d-flex align-items-center mb-8 mb-lg-0 ">
                              <span class="me-4 me-lg-16 text-gray-02 text-nowrap">成團目標</span>
                              <div class="ts-progress is-tiny bg-gray-04 voting-progress">
                                <div class="bar bg-brand-02" style="--value: 50">
                                  <div class="text-white">50%</div>
                                </div>
                              </div>
                            </div>
                            <button
                              class="py-4 px-16 btn-brand-05 btn-hover-bg-1 border-0 rounded-pill text-brand-02 btnVoteThis"
                              type="button">投票</button>
                          </div>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal footer -->
            <div class="modal-footer px-16 px-lg-40 py-12 border-0"></div>
          </div>
        </div>
      </div>

      <!-- 建立投票 Modal -->
      <div class="modal fade" id="modal-CreateVoting" tabindex="-1" aria-labelledby="modal-CreateVoting"
        aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="d-flex modal-content border-radius-24">
            <!-- modal header -->
            <div class="modal-header p-16 pb-lg-40 pt-lg-24 px-lg-40 border-0">
              <h3 class="fs-lg-24 fw-lg-bold lh-sm fs-20 fw-medium ">建立投票
              </h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- modal body -->
            <div class="modal-body d-flex pb-16 pt-8 pt-lg-16 px-16 px-lg-40 pb-lg-40 container justify-content-center">
              <div class="row flex-column flex-lg-row w-100">
                <!-- 建立活動資訊 create voting info -->
                <div class="col col-lg-4 p-0">
                  <ul class="d-flex flex-column gap-32 mb-12 mb-lg-32 fs-16 fs-md-20">
                    <li>
                      <label for="eventDateTime" class="mb-16 mb-md-12">享用日期</label>
                      <input type="datetime-local"
                        class="px-14 py-12 w-100 border-radius-16 border border-2 border-gray-04 fs-16 dateSelector"
                        id="eventDateTime" name="eventDateTime" placeholder="日期" autocomplete="off">
                    </li>
                    <li>
                      <label for="deadlineDateTime" class="mb-16 mb-md-12">截止時間</label>
                      <input type="datetime-local"
                        class="px-14 py-12 w-100 border-radius-16 border border-2 border-gray-04 fs-16 dateSelector"
                        id="deadlineDateTime" name="deadlineDateTime" placeholder="日期" autocomplete="off">
                      <p class="d-none mt-4 fs-14 ms-16 deadlineDateTimeAlert" style="color:#dc3545;">截止時間須至少提前於享用日期
                        24
                        時</p>
                    </li>
                    <li>
                      <span class="me-16 mb-16 mb-md-12">發起人</span>
                      <span id="votingInitiator">無</span>
                    </li>
                    <li>
                      <label for="votingInvitees" class="mb-16 mb-mb-12">請客人</label>
                      <select id="votingInvitees" name="votingInvitees"
                        class="px-14 py-12 w-100 border-radius-16 border border-2 border-gray-04 fs-16 select-payer">
                        <option class="text-gray-03" value="" disabled selected>請選擇付款人</option>
                        <option value="no-invitees">各自付款</option>
                        <option value="has-invitees">由我請客</option>
                      </select>
                    </li>
                  </ul>
                  <button
                    class="py-12 py-md-14 px-16 btn-brand-03 btn-hover-brand-01 border-0 rounded-pill text-white fs-16 fs-md-20 w-100 btnLinkToCreateVoting"
                    type="button">選擇店家</button>
                </div>
                <!-- 投票卡片 voting card -->
                <div class="col col-lg-8 d-none d-lg-block">
                  <p class="fs-16 fs-md-20 text-center">尚未選擇店家</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- footer -->
      <%- include('./layout/footer'); -%>

        <!-- notification -->
        <%- include('./layout/notification'); -%>

          <!-- ICONGIFY import -->
          <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

          <!-- JS -->
          <script type="module" src="../main.js"></script>

          <!-- moment.js import-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

          <!-- jQuery Import -->
          <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

          <!-- 進度條 tocas progress -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.js"></script>

          <!-- 月曆 evo-calendar import -->
          <script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>


          <script type="module">
            import axios from 'axios';
            import * as bootstrap from "bootstrap/dist/js/bootstrap.min.js";
            // import 時間選擇器
            import flatpickr from "flatpickr";

            // import 時間判斷是否為過去事件元件
            import isPastEvent from '/assets/js/components/isPastEvent.js';
            // import 判斷登入狀態元件
            import isLoggedIn from '/assets/js/components/isLoggedIn.js';
            // import 解密 token 元件
            import cryptoToken from '/assets/js/components/cryptoToken.js';

            //全頁共用變數
            const _url = "https://teatimeapi-test.onrender.com"
            const _token = localStorage.getItem("token");
            const _user = cryptoToken(_token)

            /* 投票頁初始頁面 render init ================================*/
            //使用 moment 格式化日期
            const today = moment().format('YYYY/MM/DD');
            //初步撈取的資料
            let datas = [];
            //整理過的事件 Data
            const calendarEventMap = {};

            //開團 & 投票事件撈取
            function init() {
              const groupings = axios.get(`${_url}/groupings?_expand=restaurant&_expand=order`);
              const votings = axios.get(`${_url}/votings?_expand=restaurant`);

              Promise.all([groupings, votings])
                .then(function (res) {
                  datas = datas.concat(res[0].data)
                  datas = datas.concat(res[1].data)
                  createEventData()
                }).catch(function (err) {
                  console.error(err.message);
                });
            }

            init();

            //整理事件 Data，以 UID 做分類
            function createEventData() {
              datas.forEach(data => {
                if (!calendarEventMap[data.UID]) {
                  calendarEventMap[data.UID] = {
                    UID: data.UID,
                    restaurantId: data.restaurantId,
                    deadlineDateTime: data.deadlineDateTime, //截止時間
                    eventDateTime: data.eventDateTime, //享用時間
                    initiator: data.initiator, //舉辦人
                    invitees: data.invitees, //請客人
                    restaurantList: data.UID.startsWith('V') ? [] : [data.restaurant.storeName],
                    restaurantPhoto: data.restaurant.storeCover,
                    minGroupSize: data.restaurant.minGroupSize, //最小成團數
                    currentGroupCondition: data.UID.startsWith('V') ? 0 : data.order.orderDetail.length, //目前點餐數量                    
                  };
                }

                if (data.UID.startsWith('V')) {
                  calendarEventMap[data.UID].restaurantList.push(data.restaurantName);
                  delete calendarEventMap[data.UID].currentGroupCondition
                  delete calendarEventMap[data.UID].minGroupSize
                }

              });

              createEvoCalendarData()
              renderEvent()
            }



            /* 視登入狀態更改「建立投票」按鈕功能 ================================*/
            document.addEventListener('DOMContentLoaded', function () {
              const btnCreateVoting = document.querySelector(".btnCreateVoting")

              if (isLoggedIn(_token)) {
                btnCreateVoting.setAttribute('href', '#modal-CreateVoting'); // 已登入，設置 modal 顯示目標
                btnCreateVoting.setAttribute("data-bs-toggle", "modal"); // 移除原本的 popover 屬性
              } else {
                btnCreateVoting.setAttribute('data-bs-toggle', 'popover'); // 未登入，設置 popover
                btnCreateVoting.setAttribute('data-bs-content', '請先登入帳號'); // 設置 popover 內容
                const popover = new bootstrap.Popover(btnCreateVoting); // 初始化 popover
              }
            });



            /* 渲染操作月曆 evoCalendar ======================================*/
            //建立能被 evoCalendar 讀取的格式
            function createEvoCalendarData() {
              const calendarStr = [];

              for (const id in calendarEventMap) {
                if (calendarEventMap.hasOwnProperty(id)) {
                  const e = calendarEventMap[id];
                  calendarStr.push({
                    id: e.UID,
                    name: e.restaurantList.join("、"),
                    date: e.deadlineDateTime,
                    type: 'event',
                    color: e.UID[0] === 'V' ? '#F0BD68' : '#FD909F'
                  });
                }
              }

              renderCalendar(calendarStr)
            }


            //渲染月曆
            function renderCalendar(calendarStr) {
              $('#calendar').evoCalendar({
                'sidebarDisplayDefault': false,
                'sidebarToggler': true,
                'eventDisplayDefault': false,
                'eventListToggler': false,
                'todayHighlight': true,
                'calendarEvents': calendarStr
              });
            }


            //獲得滑鼠點擊日期
            $('#calendar').on('click', function (e) {
              //使用 getActiveDate 來獲取滑鼠點擊的日期
              const active_date = $('#calendar').evoCalendar('getActiveDate');
              //格式化日期
              const formatted_ActiveDate = moment(active_date, 'MM/DD/YYYY').format('YYYY/MM/DD');

              //渲染活動卡片
              renderEvent(formatted_ActiveDate)
            });



            /* 渲染活動卡片 ===========================================*/
            const calendarEvent = document.querySelector(".calendarEvent")

            //渲染活動卡片事件
            function renderEvent(time = today) {
              let tempEventList = "" //渲染資料暫存

              //初始化顯示事件，取符合今天或點選日期的事件
              const eventArray = Object.values(calendarEventMap);
              const filteredEvent = eventArray.filter(item => {
                const dateTimeParts = item.deadlineDateTime.split(" ");
                const datePart = dateTimeParts[0];
                return datePart === time;
              });

              //當下無事件
              if (!filteredEvent.length) {
                tempEventList += `<li class="fs-16 fs-md-20 text-center">目前沒有下午茶活動</li>`
                //當下有事件
              } else {
                filteredEvent.forEach(e => {
                  tempEventList += `<li ${e.UID.startsWith("V") ? `class="cursor-pointer" data-bs-votingUID=${e.UID} data-bs-toggle="modal" data-bs-target="#modal-VotingModal"` : `data-groupingUID=${e.UID}`}>
                    ${e.UID.startsWith("V") ? "" : `<a href="store-order.html?UID=${e.UID}">`}
                <div
                  class="position-relative row mx-0 flex-column gy-12 gy-md-16 p-16 p-md-24 pt-56 pb-8 pb-md-16 pt-md-8 border border-brand-03 border-radius-16">
                  <!-- 月曆卡片 title -->
                  <div
                    class="position-absolute d-flex align-items-end top-0 start-0 px-16 px-md-24 w-100 w-sm-75 calendar-title-translateY">
                    <img class="me-12 me-lg-16 calendar-photo border border-2 border-brand-03 bg-white"
                      src=${e.restaurantPhoto} alt="store-logo">
                    <h3 class="fs-20 fs-md-24 fw-medium fw-md-bold lh-sm text-brand-03 doubleline-ellipsis">${e.restaurantList.join("、")}
                    </h3>
                  </div>
                  <!-- 卡片活動類別 -->
                  ${showEventStates(e.deadlineDateTime, e.UID)}
                  <!-- 月曆卡片內容 -->
                  <ul class="row flex-column flex-xl-row g-4 g-md-8 p-0 fs-16 fs-md-20">
                    <li class="col col-xl-7">
                      <ul class="d-flex flex-column gap-4 gap-md-8">
                        <li>
                          <span class="me-16">享用日期</span>
                          <span class="me-8">${showDateTime(e.eventDateTime)[0]}</span>
                          <span>${showDateTime(e.eventDateTime)[1]}</span>
                        </li>
                        <li>
                          <span class="me-16">截止時間</span>
                          <span class="me-8">${showDateTime(e.deadlineDateTime)[0]}</span>
                          <span>${showDateTime(e.deadlineDateTime)[1]}</span>
                        </li>
                      </ul>
                    </li>
                    ${e.UID.startsWith("V") ? "" : `<li class="d-flex align-items-center order-1 order-md-end">
                      <span class="me-16">成團目標</span>                      
                      <div class="ts-progress is-tiny bg-gray-04" style="width: 120px;">
                        <div class="bar bg-brand-02" style="--value: ${calcGroupProgress(e.currentGroupCondition, e.minGroupSize)}">
                            <div class="text-white">${calcGroupProgress(e.currentGroupCondition, e.minGroupSize) > 100 ? 100 : calcGroupProgress(e.currentGroupCondition, e.minGroupSize)}%</div>
                        </div>
                    </div></li>`}
                    <li class="col col-xl-5">
                      <ul class="d-flex flex-column gap-4 gap-md-8">
                        <li>
                          <span class="me-16">付款人</span>
                          <span class="me-8">${!e.invitees ? "無" : e.invitees}</span>
                        </li>
                        <li>
                          <span class="me-16">發起人</span>
                          <span class="me-8">${e.initiator}</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                ${e.UID.startsWith("V") ? "" : `</a>`}
              </li>`
                })
              }

              //渲染事件
              calendarEvent.innerHTML = tempEventList;
            }

            //投票、開團標籤
            function showEventStates(deadlineDateTime, uid) {
              //儲存要回傳的內容
              let eventStates

              //判斷事件是否早於今天，若為是（意即過去式事件），則顯示「投票/開團」已結束
              if (isPastEvent(deadlineDateTime)) {
                eventStates = `<div class="align-self-end py-4 py-md-8 order-last order-md-first rounded-pill text-center btn-disable" style="width:110px;">${uid.startsWith("V") ? "投票" : "開團"}已結束</div>`
              } else {
                eventStates = `<div class="align-self-end py-4 py-md-8 order-last order-md-first ${uid.startsWith("V") ? "bg-brand-01" : "bg-brand-02"} rounded-pill text-white text-center" style="width:80px">${uid.startsWith("V") ? "投票中" : "開團中"}</div>`
              }

              return eventStates
            }

            //計算成團、投票進度條
            function calcGroupProgress(numParticipants, numMinGroupSize) {
              return Math.floor(numParticipants / numMinGroupSize * 100)
            }


            /* 投票檢索 modal & 投票動作 ===============================*/
            const VotingModal = document.getElementById('modal-VotingModal')

            //初始化投票 modal 選項店家資料
            function initModalVotingCard(votingUID) {
              let votingCardData = [] //投票 modal 右側店家卡片資料              

              axios.get(`${_url}/votings?UID=${votingUID}&_expand=restaurant`)
                .then(function (res) {
                  votingCardData = res.data
                  renderVotingCard(votingCardData)
                }).catch(function (err) {
                  console.error(err.message);
                });
            }

            //投票 modal 資料顯示
            VotingModal.addEventListener('show.bs.modal', function (event) {
              //從投票事件卡片獲取 data-bs-votingUID 編號
              const modalData = event.relatedTarget
              const votingUID = modalData.getAttribute('data-bs-votingUID')

              //render 投票活動資訊
              renderVotingModalInfo(votingUID)

              //可投票店家卡片資料初始化            
              initModalVotingCard(votingUID)

              //判斷登入狀態
              //isLoggedIn(_token)
            })

            //render 投票 modal 活動資訊
            function renderVotingModalInfo(votingUID) {
              //投票 modal 標題綁定 & 渲染
              const modalTitle = VotingModal.querySelector('.modal-title')
              modalTitle.textContent = calendarEventMap[votingUID].restaurantList.join("、")

              //投票 modal 活動資訊資訊，欄位綁定 & 渲染
              const deadlineDateTime = VotingModal.querySelector(".deadlineDateTime")
              const eventDateTime = VotingModal.querySelector(".eventDateTime")
              const initiator = VotingModal.querySelector(".initiator")
              const invitees = VotingModal.querySelector(".invitees")

              const event = calendarEventMap[votingUID]

              deadlineDateTime.innerHTML = `<span class="me-16">截止日期</span>
                        <span class="me-8 ">${showDateTime(event.deadlineDateTime)[0]}</span>
                        <span>${showDateTime(event.deadlineDateTime)[1]}</span>`

              eventDateTime.innerHTML = `<span class="me-16">享用時間</span>
                          <span class="me-8">${showDateTime(event.eventDateTime)[0]}</span>
                          <span>${showDateTime(event.eventDateTime)[1]}</span>`

              initiator.textContent = event.initiator
              invitees.textContent = event.invitees === "" ? "無" : event.invitees
            }

            //時間字串處理
            function showDateTime(datetime) {
              //月份 & 日期
              const date = datetime.substring(5, 10)
              //時間
              const time = datetime.split(" ")[1]

              return [date, time]
            }

            //render 投票 modal 選項店家資料
            function renderVotingCard(votingCardData) {
              //店家卡片渲染區域
              const votingCard = VotingModal.querySelector(".votingCard")
              //當前事件是否為過去事件
              const isPast = isPastEvent(votingCardData[0].deadlineDateTime)
              //暫時儲存要渲染的店家卡片資料
              let cardDataTemp = ""

              //生成要渲染的資料
              votingCardData.forEach(data => {
                //當前用戶是否已投票
                const alreadyVoted = data.currentVoters.includes(_user)
                //當前店家已投票人數
                const numVoters = data.currentVoters.length
                //當前店家最小成團人數
                const numMinGroupSize = data.restaurant.minGroupSize

                cardDataTemp += `
                      <li class="d-flex gap-12 p-12 mb-12 border border-brand-03 border-radius-40401616">
                        <img class="border-radius-32321616 votingcard-photo" src="${data.restaurant.storeCover}">
                        <div class="flex-grow-1 d-flex flex-column">
                          <h4 class="mb-8 fs-16 fs-md-20 lh-sm text-brand-03">${data.restaurantName}</h4>
                          <p class="flex-grow-1 mb-8 mb-md-16 text-gray-02 trippleline-ellipsis">${data.restaurant.summary}</p>
                          <div class="d-flex justify-content-between flex-column flex-lg-row">
                            <div class="d-flex align-items-center mb-8 mb-lg-0 ">
                              <span class="me-4 me-lg-16 text-gray-02 text-nowrap">成團目標</span>
                              <div class="ts-progress is-tiny bg-gray-04 voting-progress" data-num=${data.id}>
                                <div class="bar bg-brand-02" style="--value: ${calcGroupProgress(numVoters, numMinGroupSize)}">
                                  <div class="text-white">${calcGroupProgress(numVoters, numMinGroupSize) > 100 ? 100 : calcGroupProgress(numVoters, numMinGroupSize)}%</div>
                                </div>
                              </div>
                            </div>                                                    
                              ${btnVoteStates(data.id, isPast, alreadyVoted)}
                          </div>
                      </li>`
              })

              //渲染
              votingCard.innerHTML = cardDataTemp

              //btnVoteThis 投票動作判斷
              voteStore()
            }

            //判斷 btnVoteThis 狀態
            function btnVoteStates(id, isPast, alreadyVoted) {
              //過去事件，按鈕呈現禁用
              if (isPast) {
                return `<button class="py-4 px-16 btn-disable border-0 rounded-pill btnVoteThis" disabled type="button">已結束</button>`
              }

              //登入狀態判斷，若未登入，加入提示語法
              if (!isLoggedIn(_token)) {
                return `<button type="button"
                              class="py-4 px-16 btn-brand-05 btn-hover-bg-1 border-0 rounded-pill text-brand-02"
                              data-bs-container="body" data-bs-toggle="popover"  data-bs-placement="top" data-bs-content="請先登入帳號">投票</button>`
              }

              //已登入狀態，顯示是否已投票過此店家
              return `<button
                              class="py-4 px-16 btn-brand-05 btn-hover-bg-1 border-0 rounded-pill text-brand-02 btnVoteThis ${alreadyVoted ? "btn-active-brand-02" : ""}"
                              type="button" data-num=${id}>${alreadyVoted ? "已投票" : "投票"}</button>`
            }

            //btnVoteThis 投票動作判斷  
            function voteStore() {
              //若為未登入狀態，提示登入，並中斷執行後續動作
              if (!isLoggedIn(_token)) {
                const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
                const popoverList = [...popoverTriggerList].map(popoverTriggerEl => {
                  new bootstrap.Popover(popoverTriggerEl)
                })
                return
              }

              //已登入狀態動作
              const btnVoteThis = VotingModal.querySelectorAll('.btnVoteThis')

              btnVoteThis.forEach(btn => {
                btn.addEventListener('click', function () {
                  //3 秒內按鈕禁用
                  this.disabled = true
                  setTimeout(() => {
                    this.disabled = false
                  }, 3000)

                  //含有指定 class 樣式的按鈕代表已投票過此店家
                  const isVoted = btn.classList.contains("btn-active-brand-02")

                  //投票過的店家 click，取消投票
                  if (isVoted) {
                    //將 votings 資料庫 id 與動作輸入變更資料庫
                    updateVotingAPI(btn.dataset.num, "deleteVote")
                  } else {
                    //未投票的店家 click，投票成功
                    //將 votings 資料庫 id 與動作輸入變更資料庫
                    updateVotingAPI(btn.dataset.num, "addVote");
                  }
                });
              });
            }

            //變更投票資料庫 API
            async function updateVotingAPI(id, status) {
              try {
                //該投票的進度條加入動畫
                const progressElements = document.querySelector(`.ts-progress[data-num="${id}"]`);
                progressElements.classList.add("is-processing")

                //宣告變數存取目前參與投票者清單            
                const updatedVoters = datas.filter(item => item.UID.startsWith("V") && item.id == id)[0].currentVoters

                //依據動作處理投票者清單
                if (status === "addVote") {
                  updatedVoters.push(`${_user}`);
                } else {
                  const userIndex = updatedVoters.indexOf(`${_user}`)
                  updatedVoters.splice(userIndex, 1)
                }

                //修改資料庫中的數據
                axios.patch(`${_url}/votings/${id}`, {
                  "currentVoters": updatedVoters
                })
                  .then(function (patchRes) {
                    initModalVotingCard(patchRes.data.UID)
                    //該投票的進度條移除動畫
                    progressElements.classList.remove("is-processing")
                  })
                  .catch(function (err) {
                    console.error(err.message);
                  });
              } catch (err) {
                console.log('錯誤:', err);
                throw err;
              }
            }



            /* 建立投票 create voting event ========================================*/
            const createVotingModal = document.getElementById("modal-CreateVoting")

            //當 modal 出現，獲取當前登入人的的姓名作為發起人
            createVotingModal.addEventListener('show.bs.modal', function (event) {
              //綁定 modal 內 DOM 元素
              const votingInitiator = document.getElementById("votingInitiator")//發起人

              //發起人名稱
              axios.get(`${_url}/users?UID=${_user}`)
                .then(function (res) {
                  votingInitiator.textContent = res.data[0].userName
                }).catch(function (err) {
                  console.error(err.message);
                })
            })

            //點擊 modla 則操作儲存格
            createVotingModal.addEventListener("click", () => {
              //綁定 modal 內 DOM 元素
              const eventDateTimeInput = document.getElementById("eventDateTime") //享用日期
              const deadlineDateTimeInput = document.getElementById("deadlineDateTime") //截止日期
              const votingInviteesSelect = document.getElementById("votingInvitees") //請客人            

              //獲取時間輸入格的值
              const selectedEventDateTime = eventDateTimeInput.value.trim();
              const selectedDeadlineDateTime = deadlineDateTimeInput.value.trim();
              let formattedEventDateTime = ""
              let formattedDeadlineDateTime = ""

              //若「享用時間」輸入格有值，則進行時間格式化
              if (selectedEventDateTime) {
                formattedEventDateTime = moment(eventDateTimeInput.value, "YYYY/MM/DD HH:mm");
              }

              //若「截止時間」輸入格有值，則進行時間格式化
              if (selectedDeadlineDateTime) {
                formattedDeadlineDateTime = moment(deadlineDateTimeInput.value, "YYYY/MM/DD HH:mm");
              }

              //若時間輸入格均有值，判定截止時間需早於享用時間至少 24 時
              if (formattedEventDateTime && formattedDeadlineDateTime) {
                const diffInHours = formattedEventDateTime.diff(formattedDeadlineDateTime, 'hours');
                if (diffInHours < 24) {
                  const deadlineDateTimeAlert = document.querySelector(".deadlineDateTimeAlert").classList.remove("d-none")
                } else {
                  const deadlineDateTimeAlert = document.querySelector(".deadlineDateTimeAlert").classList.add("d-none")
                }
              }

              //時間資料存入 session storage
              sessionStorage.setItem('deadlineDateTime', selectedDeadlineDateTime); //截止日期    
              sessionStorage.setItem('eventDateTime', selectedEventDateTime); //享用日期
              sessionStorage.setItem('votingInvitees', votingInviteesSelect.value); //付款人 
            });


            /* btn 建立投票 按鈕超連結 ===============================*/
            const btnLinkToCreateVoting = document.querySelector(".btnLinkToCreateVoting")
            btnLinkToCreateVoting.addEventListener("click", function () {
              window.location.href = "./createVoting.html"
            })


            /* 時間選擇器初始化 ================*/
            const config = {
              enableTime: true,
              dateFormat: "Y/m/d H:i",
              time_24hr: true,
              minuteIncrement: 15,
              allowInput: true,
              minDate: moment().format('YYYY/MM/DD'),
            }

            flatpickr(".dateSelector", config);            
          </script>


</body>

</html>