<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">

    <body class="d-flex flex-column vh-100">
        <%- include('./layout/nav'); -%>

            <!--  -->
            <div class="layout-content py-32 py-lg-80 find-store">
                <div class="d-flex justify-content-between align-items-center mb-18 mb-md-20">
                    <h2 class="fs-md-32 fs-24 fw-bold lh-sm" id="find-store">找店家</h2>
                </div>

                <!-- 新的 -->


                <div class="d-block d-md-flex justify-content-between align-items-center">
                    <!-- search-bar  -->
                    <div class="position-relative me-md-16 d-none d-md-block ">
                        <iconify-icon class="position-absolute search-icon" icon="iconamoon:search"
                            style="color: #8b8b8a;" width="24"></iconify-icon>
                        <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off"
                            autocomplete="off" autocapitalize="off"
                            class="search-bar border border-2 border-gray-04 border-radius-28 py-10 px-16 ps-48"
                            placeholder="搜尋" aria-label="search" aria-describedby="basic-addon1">
                    </div>

                    <ul class="select-bar d-flex text-center bg-brand-05 mt-20 mt-md-0 mb-16 mb-md-0 p-8 text-nowrap">
                        <li class="text-center w-100">
                            <button type="button"
                                class="select-bar-link d-inline-block fs-16 fs-md-20 fw-medium text-brand-02 py-10 py-md-8 px-sm-24 px-0 border-0 w-100 btn-active-bg-2 btn-hover-bg-2 btn-active-brand-02">最新店家</button>
                        </li>
                        <li class="text-center w-100">
                            <button type="button"
                                class="select-bar-link d-inline-block fs-16 fs-md-20 fw-medium text-brand-02 py-10 py-md-8 px-sm-24 px-0 border-0 btn-active-bg-2 btn-hover-bg-2 w-100">最高評價</button>
                        </li>
                        <li class="text-center w-100">
                            <button type="button"
                                class="select-bar-link d-inline-block fs-16 fs-md-20 fw-medium text-brand-02 py-10 py-md-8 px-sm-24 px-0 border-0 btn-active-bg-2 btn-hover-bg-2 w-100">最低評價</button>
                        </li>

                    </ul>
                </div>


                <div class="row mt-md-32 mt-0">
                    <div class="col-md-2  mb-16 mb-md-0">
                        <ul class=" x-slide d-flex d-md-block gap-md-5 text-nowrap">
                            <li>
                                <button
                                    class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 btn-active border-radius-16 btn-hover-gray-04 actived">
                                    <iconify-icon icon="fluent:food-24-regular" style="color: #8b8b8a;" width="32"
                                        height="32" class="me-md-8 me-0"></iconify-icon>
                                    <span class="fs-md-20 fs-16">全部</span>
                                </button>
                            </li>
                            <li>
                                <button onclick="filterRestaurants('速食')"
                                    class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active">
                                    <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="32" height="32"
                                        class="me-md-8 me-0"></iconify-icon>
                                    <span class="fs-md-20 fs-16">速食</span></button>
                            </li>
                            <li>
                                <button onclick="filterRestaurants('飲料')"
                                    class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active">
                                    <iconify-icon icon="icon-park-outline:drink" style="color: #8b8b8a;" width="32"
                                        height="32" class="me-md-8 me-0"></iconify-icon>
                                    <span class="fs-md-20 fs-16">飲品</span>
                                </button>
                            </li>
                            <li>
                                <button onclick="filterRestaurants('小吃')"
                                    class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active">
                                    <iconify-icon icon="ph:bowl-food" style="color: #8b8b8a;" width="32" height="32"
                                        class="me-md-8 me-0"></iconify-icon>
                                    <span class="fs-md-20 fs-16">小吃</span>
                                </button>
                            </li>
                            <li>
                                <button onclick="filterRestaurants('甜點')"
                                    class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active">
                                    <iconify-icon icon="material-symbols:icecream-outline-rounded"
                                        style="color: #8b8b8a;" width="32" height="32"
                                        class="me-md-8 me-0"></iconify-icon>
                                    <span class="fs-md-20 fs-16">甜點</span>
                                </button>
                            </li>
                            <li>
                                <button onclick="filterRestaurants('素食')"
                                    class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active"><iconify-icon
                                        icon="tabler:leaf" style="color: #8b8b8a;" width="32" height="32"
                                        class="me-md-8 me-0"></iconify-icon>
                                    <span class="fs-md-20 fs-16">素食</span>
                                </button>
                            </li>
                            <li>
                                <button onclick="filterRestaurants('咖啡')"
                                    class="d-flex flex-md-row flex-column align-items-center p-12 p-xl-16 me-md-0 me-8 w-100 text-start border-0 bg-transparent text-gray-02 border-radius-16 btn-hover-gray-04 btn-active"><iconify-icon
                                        icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="32"
                                        height="32" class="me-md-8 me-0"></iconify-icon>
                                    <span class="fs-md-20 fs-16">咖啡</span></button>
                            </li>
                            <li class="tab_slider"></li>
                        </ul>
                    </div>
                    <div class="col-md-10 px-24 ">
                        <ul class="row row-cols-2 gap-12 gap-xxl-24 findStore-ul restaurantInfo">

                        </ul>
                    </div>
                </div>
                <div class="mt-16 mt-md-32"></div>
                <nav aria-label="Page navigation ">
                    <ul class="pagination justify-content-end gap-8">
                        <li class="page-item">
                            <a class="page-link rounded-3" href="#" aria-label="Previous">
                                <iconify-icon aria-hidden="true" icon="ri:arrow-left-double-line" width="16"
                                    height="16"></iconify-icon>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-3 " href="#" aria-label="Previous">
                                <iconify-icon aria-hidden="true" icon="iconamoon:arrow-left-2" width="16"
                                    height="16"></iconify-icon>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link rounded-3" href="#">1</a></li>
                        <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
                        <li class="page-item"><a class="page-link rounded-3" href="#">3</a></li>
                        <li class="page-item"><a class="page-link border-0 disabled bg-transparent " href="#">...</a>
                        </li>
                        <li class="page-item"><a class="page-link rounded-3" href="#">10</a></li>
                        <li class="page-item">
                            <a class="page-link rounded-3 " href="#" aria-label="Previous">
                                <iconify-icon aria-hidden="true" icon="iconamoon:arrow-right-2" width="16"
                                    height="16"></iconify-icon>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-3" href="#" aria-label="Next">
                                <iconify-icon aria-hidden="true" icon="ri:arrow-right-double-line" width="16"
                                    height="16"></iconify-icon>
                            </a>
                        </li>
                        
                    </ul>
                </nav>
            </div>

            <!-- footer -->
            <%- include('./layout/footer'); -%>

                <!-- notification -->
                <%- include('./layout/notification'); -%>

                    <!-- ICONGIFY -->
                    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
                    <!-- JS -->
                    <script type="module" src="../main.js"></script>
                    <!-- autocomplete -->
                    <script
                        src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
                    <!-- restaurantInfo -->
                    <script src="/assets/jsonDatas/restaurantInfo.js"></script>
                    <script>
                        let selectBar = document.querySelectorAll('.btn-active');
                        selectBar.forEach(btnType => {
                            btnType.addEventListener('click', () => {
                                selectBar.forEach(btn => {
                                    btn.classList.remove('actived');
                                })
                                btnType.classList.add('actived');
                            })
                        })
                        // 進入畫面後，炫染店家資訊
                        window.onload = renderRestaurant();

                        function renderRestaurant() {
                            let restaurantItem = "";
                            let restaurant = document.querySelector(".restaurantInfo")
                            restaurantInfo.forEach(el => {
                                // 判斷幾顆星
                                stars = "";
                                for (let star = 1; star < 6; star++) {
                                    if (star <= el.stars) {
                                        stars += `<iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>`
                                    } else {
                                        stars += `<iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>`
                                    }
                                }
                                // 判斷分類
                                let catelorys = ""
                                if (el.category == "飲料") {
                                    catelorys = `
                    <iconify-icon icon="icon-park-outline:drink" style="color: #8b8b8a;" width="24" height="24"class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "速食") {
                                    catelorys = `
                    <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "素食") {
                                    catelorys = `
                    <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "小吃") {
                                    catelorys = `
                    <iconify-icon icon="ph:bowl-food" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "甜點") {
                                    catelorys = `
                    <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "咖啡") {
                                    catelorys = `
                    <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                }
                                restaurantItem += `
                <li class="findStore-img position-relative "
                    style="background-image: url(${el.storeCover});">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">${el.storeName}</p>
                                <div class="d-flex ">
                                    ${stars}
                                </div>
                            </div>
                            ${catelorys}
                        </div>
                    </a>
                </li>`
                            })
                            restaurant.innerHTML = restaurantItem
                        };

                        // 篩選分類店家
                        function filterRestaurants(category) {
                            let restaurantItem = "";
                            const filteredRestaurants = restaurantInfo.filter(restaurant => restaurant.category === category);
                            let restaurant = document.querySelector(".restaurantInfo")
                            filteredRestaurants.forEach(el => {
                                // 判斷幾顆星
                                stars = "";
                                for (let star = 1; star < 6; star++) {
                                    if (star <= el.stars) {
                                        stars += `<iconify-icon icon="ic:round-star" style="color: #ffd43a;"
                                        width="16"></iconify-icon>`
                                    } else {
                                        stars += `<iconify-icon icon="ic:round-star" style="color: #c2c1bd;"
                                        width="16"></iconify-icon>`
                                    }
                                }
                                // 判斷分類
                                let catelorys = ""
                                if (el.category == "飲料") {
                                    catelorys = `
                    <iconify-icon icon="icon-park-outline:drink" style="color: #8b8b8a;" width="24" height="24"class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "速食") {
                                    catelorys = `
                    <iconify-icon icon="mdi:food-outline" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "素食") {
                                    catelorys = `
                    <iconify-icon icon="tabler:leaf" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "小吃") {
                                    catelorys = `
                    <iconify-icon icon="ph:bowl-food" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "甜點") {
                                    catelorys = `
                    <iconify-icon icon="material-symbols:icecream-outline-rounded" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                } else if (el.category == "咖啡") {
                                    catelorys = `
                    <iconify-icon icon="icon-park-outline:tea-drink" style="color: #8b8b8a;" width="24" height="24" class="findStore-card-img"></iconify-icon>`
                                }
                                restaurantItem += `
                <li class="findStore-img position-relative "
                    style="background-image: url(${el.storeCover});">
                    <a href="store-order.html" class="d-flex justify-content-center w-100 h-100 ">
                        <div class="position-absolute d-flex justify-content-between  findStore-card">
                            <div class="d-flex  flex-column justify-content-center ">
                                <p class="mb-8 fs-md-20 fs-16 lh-sm text-white">${el.storeName}</p>
                                <div class="d-flex ">
                                    ${stars}
                                </div>
                            </div>
                            ${catelorys}
                        </div>
                    </a>
                </li>`
                            })
                            restaurant.innerHTML = restaurantItem
                        };

                        //autocomplete 
                        let restaurantAry = restaurantInfo.map(el => el.storeName)
                        const autoCompleteJS = new autoComplete({
                            placeHolder: "Search for Resturant...",
                            data: {
                                src: restaurantAry,
                                cache: true,
                            },
                            resultItem: {
                                highlight: true
                            },
                            events: {
                                input: {
                                    selection: (event) => {
                                        const selection = event.detail.selection.value;
                                        autoCompleteJS.input.value = selection;
                                    }
                                }
                            }
                        })


                    </script>
    </body>

</html>