<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>揪團下午茶｜共享美味，打造回憶</title>
    <!-- Open Graph Tag -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="揪團下午茶">
    <meta property="og:description" content="共享美味，打造回憶">
    <!-- FONTS -->
    <!-- ICONS -->
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是首頁</h1>
    <img src="../assets/images/cat.jpg" style="width: 200px;" alt="cat">
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
