<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>揪團下午茶｜共享美味，打造回憶</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/images/logo/logo-favicon.png" type="image/x-icon" />
  <!-- Swiper Css CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
  <!-- Open Graph Tag -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="揪團下午茶">
  <meta property="og:description" content="共享美味，打造回憶">
  <meta property="og:url" content="https://annchoucode.github.io/TeaTime-Gathering/">
  <meta property="og:image"
    content="https://raw.githubusercontent.com/AnnChouCode/TeaTime-Gathering/main/assets/images/store-01.jpg" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="揪團下午茶" />
  <meta name="twitter:description" content="共享美味，打造回憶" />
  <meta name="twitter:image"
    content="https://raw.githubusercontent.com/AnnChouCode/TeaTime-Gathering/main/assets/images/store-01.jpg" />
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="pt-64 pt-md-82">
  <%- include('./layout/nav'); -%>
    <div class="container">
    </div>
    <!-- tea-calendar -->
    <%- include('./layout/tea-calendar'); -%>



      <div class="layout d-flex ">
        <div class="layout-left d-none d-lg-block">
          <%- include('./layout/navigation-menu'); -%>
        </div>
        <div class="layout-content">
          <!-- find-store -->
          <%- include('./layout/banner'); -%>
          <%- include('./layout/find-store'); -%>
        </div>
        <div class="layout-right d-none d-lg-block"></div>
      </div>
      <!-- feedback -->
      <%- include('./layout/feedback'); -%>

        <div class="layout-content">
          <!-- novice Teaching -->
          <%- include('./layout/noviceTeaching'); -%>
        </div>

        <!-- notification -->
        <%- include('./layout/notification'); -%>

          <!-- footer -->
          <%- include('./layout/footer'); -%>

            <!-- ICONGIFY -->
            <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
            <!-- JS -->
            <script type="module" src="../main.js"></script>
            <!-- Validation jQuery-->
            <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
              integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
            <script>
              $('.needs-validation').each(function (index) {
                $(this).on('submit', function (e) {
                  e.preventDefault();
                  $(this).addClass('was-validated');
                });
              });
            </script>
</body>

</html>