<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>揪團下午茶｜共享美味，打造回憶</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/images/logo/logo-favicon.png" type="image/x-icon" />
  <!-- Open Graph Tag -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="揪團下午茶">
  <meta property="og:description" content="共享美味，打造回憶">
  <meta property="og:url" content="https://annchoucode.github.io/TeaTime-Gathering/">
  <meta property="og:image"
    content="https://github.com/AnnChouCode/TeaTime-Gathering/blob/f/Ann/assets/images/store-01.jpg" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="揪團下午茶" />
  <meta name="twitter:description" content="共享美味，打造回憶" />
  <meta name="twitter:image"
    content="https://github.com/AnnChouCode/TeaTime-Gathering/blob/f/Ann/assets/images/store-01.jpg" />
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="pt-64 pt-md-82">
  <%- include('./layout/nav'); -%>
    <div class="layout d-flex ">
      <div class="layout-left d-none d-lg-block">
        <%- include('./layout/navigation-menu'); -%>
      </div>
      <div class="layout-content">
        <!-- 開啟以下註解方便了解首頁內容區塊，後續版本可刪 -->
        <!-- <%- include('./layout/container-lorem.ejs'); -%> -->
        <!-- novice Teaching -->
        <%- include('./layout/noviceTeaching'); -%>
      </div>
      <div class="layout-right d-none d-lg-block"></div>
    </div>

    <!-- btn-notification -->
    <%- include('./layout/btn-notification'); -%>
        <!-- footer -->
        <%- include('./layout/footer'); -%>

          <!-- ICONGIFY -->
          <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
          <!-- JS -->
          <script type="module" src="../main.js"></script>
</body>

</html>