<!DOCTYPE html>
<html lang="ZH-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo/logo-favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.css" />
    <title>會員管理系統-總覽</title>
</head>

<body>
    <div class="container-fluid bg-white">
        <div class="row">
            <!-- 左側欄位 -->
            <%- include("./layout/memberSystem"); -%>
                <!-- 右側欄位 -->

                <div class="col  pt-lg-24 px-0 px-lg-80">
                    <div
                        class="memberNav d-flex justify-content-between align-items-center  bg-gray-04 bg-lg-transparent p-12 py-lg-0 ">
                        <a class="btn d-lg-none" data-bs-toggle="offcanvas" href="#memberOffcanvas" role="button"
                            aria-controls="memberOffcanvas">
                            <iconify-icon width="24" icon="mingcute:menu-fill"></iconify-icon>
                        </a>
                        <a href="index.html" class="ms-auto"><iconify-icon icon="icon-park-outline:shop" width="24"
                                height="24"></iconify-icon></a>
                    </div>
                    <h2 class=" fw-bold mt-32 mt-lg-42 fs-32 px-12">正在進行的活動</h2>
                    <div class="row mt-16 mt-lg-32 mx-12">
                        <div class="col">
                            <ul class="row row-cols-2 row-cols-lg-4 gap-lg-24 gap-12">
                                <li
                                    class="overall-li col d-flex flex-column align-items-center justify-content-center border border-brand-03">
                                    <div class="mt-56 mb-40 overall-text fs-40 fw-bold group-order-container"></div>
                                    <div class="mb-56 fw-bolder text-gray-02 fs-20">跟團中的訂單</div>
                                </li>
                                <li
                                    class="overall-li col d-flex flex-column align-items-center justify-content-center border border-brand-03">
                                    <div class="mt-56 mb-40 overall-text fs-40 fw-bold launched-group-container"></div>
                                    <div class="mb-56 fw-bolder text-gray-02 fs-20">我發起的開團</div>
                                </li>
                                <li
                                    class="overall-li col d-flex flex-column align-items-center justify-content-center border border-brand-03">
                                    <div class="mt-56 mb-40 overall-text fs-40 fw-bold participating-votes-container">
                                    </div>
                                    <div class="mb-56 fw-bolder text-gray-02 fs-20">參與中的投票</div>
                                </li>
                                <li
                                    class="overall-li col d-flex flex-column align-items-center justify-content-center border border-brand-03">
                                    <div class="mt-56 mb-40 overall-text fs-40 fw-bold launched-vote-container"></div>
                                    <div class="mb-56 fw-bolder text-gray-02 fs-20">我發起的投票</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-0"></div>
                    </div>
                    <h2 class="fw-bold mt-32 mt-lg-64 fs-32 px-12">消費紀錄</h2>
                    <div class="shopRecorder row mt-16 mt-lg-32 mx-12 bg-white ">
                        <div class="col border border-brand-03" style="position: relative; height:400px">
                            <canvas class="myChart bg-white" id="myChart"></canvas>
                        </div>
                        <div class="col-lg-3 col-0"></div>
                    </div>
                </div>
                <div class="p-24  "></div>
                <div class="p-24 d-lg-none "></div>
                <div class="p-24 d-lg-none "></div>
        </div>
    </div>
    <!-- offcanvas -->
    <%- include("./layout/member-offcanvas"); -%>


</body>
<script type="module" src="../main.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<!-- Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- moment.js import-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>

    // 初步撈取的資料
    let datas = [];
    let datasForChart = [];
    // 整理過的事件 Data
    const calendarEventMap = {};

    /* 開團 & 投票事件撈取 */
    (function init() {
        const groupingDatas = axios.get('https://teatimeapi-test.onrender.com/groupings');
        const votingDatas = axios.get('https://teatimeapi-test.onrender.com/votings');
        const orderDatas = axios.get('https://teatimeapi-test.onrender.com/groupings?_expand=order');

        Promise.all([groupingDatas, votingDatas, orderDatas])
            .then(function (res) {
                datas = [...res[0].data, ...res[1].data];
                datasForChart = [...res[2].data];
                statisticalData();
                chartJS()
            });
    })()

    // 總覽頁面，四項統計數據
    function statisticalData() {

        let groupOrder = 0;
        let launchedGroup = 0;
        let participatingVote = 0;
        let launchedVote = 0;
        for (let item = 0; item < datas.length; item++) {
            const currentItem = datas[item];
            if (currentItem.UID.startsWith("G") && currentItem.invitees === "黃莉琳") {
                groupOrder++;
            }
            if (currentItem.UID.startsWith("G") && currentItem.initiator === "黃莉琳") {
                launchedGroup++;
            }
            if (currentItem.UID.startsWith("V") && currentItem.invitees === "黃莉琳") {
                participatingVote++;
            }
            if (currentItem.UID.startsWith("V") && currentItem.initiator === "黃莉琳") {
                launchedVote++;
            }
        }
        document.querySelector(".group-order-container").innerHTML = groupOrder;
        document.querySelector(".launched-group-container").innerHTML = launchedGroup;
        document.querySelector(".participating-votes-container").innerHTML = participatingVote;
        document.querySelector(".launched-vote-container").innerHTML = launchedVote;
    }

    // Chart js 統計表
    function chartJS() {
        let everyWeekData = [];
        const ctx = document.getElementById('myChart');

        // 抓出當周的禮拜一當作起點
        const currentDate = moment();
        const MondayOnWeek = currentDate.clone().day("Monday");

        // 往前推八周的周一當作X軸
        let twoMonthData = [];
        for (let i = 0; i < 8; i++) {
            twoMonthData.push(currentDate.format("MM/DD"));
            currentDate.subtract(1, "week")
        }
        twoMonthData = twoMonthData.reverse();

        // 針對每周資料做迴圈，並將資料庫的deadlineDateTime在第N周~第N+1周的資料放進陣列的第N中
        for (let i = 0; i < (twoMonthData.length); i++) {
            let tempCount = 0;
            datasForChart.forEach(item => {
                let tempData = [];
                if (moment(item.deadlineDateTime, 'YYYY/MM/DD HH:mm').format("YYYY/MM/DD") > moment(twoMonthData[i], 'MM/DD HH:mm').format("2023/MM/DD") &&
                    moment(item.deadlineDateTime, 'YYYY/MM/DD HH:mm').format("YYYY/MM/DD") < moment(twoMonthData[i + 1], 'MM/DD HH:mm').format("2023/MM/DD")
                ) {
                    tempData.push(item.order.orderDetail)
                    // 陣列中的物件，名稱為黃莉琳，並加總點餐金額
                    tempData[0].forEach(i => {
                        if (i.name == "黃莉琳") {
                            tempCount += i.totalAmount
                        }
                    })
                }
            })
            everyWeekData.push(tempCount !== "" ? tempCount : 0)
        }

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: twoMonthData,
                datasets: [{
                    label: '每周消費紀錄',
                    data: everyWeekData,
                    borderWidth: 4,
                    backgroundColor: ['#FD909F'],
                    borderColor: "#FD909F",
                    pointRadius: 6,
                    pointHoverRadius: 10,
                }],
                barThickness: 2
            },
            options: {
                responsive: true,
                display: true,
                scales: {
                    x: {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 30,
                            minRotation: 30
                        }
                    },
                    y: {
                        min: 0,
                        max: Math.max(...everyWeekData) + 30,
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        display: true,
                        align: 'top',
                        anchor: 'center',
                        color: 'black', // 數值顏色
                        font: {
                            size: 12
                        }
                    }
                }
            }
        });
    }

    // 手機板offcanvs，此頁字體呈現黑色
    let offcanvsStyle = document.querySelectorAll(".offcanvas-body li a")
    offcanvsStyle[0].classList.add("memberSystem-active")

</script>

</html>