<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>揪團下午茶｜共享美味，打造回憶</title>
    <!-- Favicon -->
    <link rel="icon" href="../assets/images/logo/logo-favicon.png" type="image/x-icon" />
    <!-- Open Graph Tag -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="揪團下午茶">
    <meta property="og:description" content="共享美味，打造回憶">
    <meta property="og:url" content="https://annchoucode.github.io/TeaTime-Gathering/">
    <meta property="og:image"
        content="https://raw.githubusercontent.com/AnnChouCode/TeaTime-Gathering/main/assets/images/store-01.jpg" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="揪團下午茶" />
    <meta name="twitter:description" content="共享美味，打造回憶" />
    <meta name="twitter:image"
        content="https://raw.githubusercontent.com/AnnChouCode/TeaTime-Gathering/main/assets/images/store-01.jpg" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="d-flex flex-column vh-100">
    <%- include('./layout/nav'); -%>

        <div class="d-flex align-items-center flex-grow-1 layout-content">
            <div class="container">
                <h2 class="mb-md-32 mb-24 fs-md-40 fs-24 text-gray-01 fw-bold lh-sm text-center">忘記密碼</h2>
                <div class="row">
                    <div class="col-sm-6 col-12 mx-auto">
                        <p class="mb-md-20 mb-12 text-gray-01">請輸入與您帳號相同的電子信箱，並點擊「提交」按鈕，新的密碼將會發送至您登記的信箱。</p>
                        <form class="needs-validation" action="#" method="post" novalidate>
                            <div class="mb-lg-40 mb-24 ">
                                <input
                                    class="form-control custom-form-focus p-16 border border-2 border-gray-04 border-radius-28 login-bar"
                                    type="email" id="reset-account" name="reset-account" placeholder="請輸入信箱"
                                    aria-describedby="reset-account" required>
                                <div class="invalid-feedback ms-16">
                                    請輸入與您帳號相同的電子郵件帳號
                                </div>
                            </div>

                            <!-- submit -->
                            <button type="submit"
                                class="p-lg-14 p-12 fs-20 fw-medium lh-sm rounded-pill text-white border-0 w-100 btn-brand-03 btn-hover-brand-01">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <%- include('./layout/footer'); -%>

            <!-- notification -->
            <%- include('./layout/notification'); -%>

                <!-- ICONGIFY -->
                <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
                <!-- JS -->
                <script type="module" src="../main.js"></script>
                <!-- jQuery Import -->
                <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
                    integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
                <!-- jQuery -->
                <script>
                    // Validation 填寫檢驗
                    $('.needs-validation').each(function (index) {
                        $(this).on('submit', function (e) {
                            e.preventDefault();
                            $(this).addClass('was-validated');
                        });
                    });
                    // 通知按鈕點擊切換通知提示元點
                    $('.btnNotification').click(function (e) {
                        $('.btnNotificationAlert').addClass('d-none');
                    });
                </script>
</body>

</html>