<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>

    <body class="d-flex flex-column vh-100">
        <%- include('./layout/nav'); -%>

            <div class="d-flex align-items-center flex-grow-1 layout-content">
                <div class="container">
                    <h2 class="mb-md-32 mb-24 fs-md-40 fs-24 text-gray-01 fw-bold lh-sm text-center">忘記密碼</h2>
                    <div class="row">
                        <div class="col-sm-6 col-12 mx-auto form-validated-effect">
                            <p class="mb-md-20 mb-12 text-gray-01">請輸入與您帳號相同的電子信箱，並點擊「提交」按鈕，新的密碼將會發送至您登記的信箱。</p>
                            <form class="needs-validation" action="#" method="post" novalidate>
                                <div class="mb-lg-40 mb-24 ">
                                    <input
                                        class="form-control custom-form-focus email-check p-16 border border-2 border-gray-04 border-radius-28 login-bar"
                                        type="email" id="reset-account" name="reset-account" placeholder="請輸入信箱"
                                        aria-describedby="reset-account" required>
                                    <div style="font-size: 14px; color: #00f5a2;"
                                        class="correct-message d-none pt-16 ps-16 fz-14">
                                        <iconify-icon icon="mingcute:check-fill"></iconify-icon>
                                        您輸入的信箱正確
                                    </div>

                                    <div class="invalid-feedback ms-16">
                                        請輸入與您帳號相同的電子郵件帳號
                                    </div>
                                </div>

                                <!-- submit -->
                                <button type="submit"
                                    class="p-lg-14 p-12 fs-20 fw-medium lh-sm rounded-pill text-white border-0 w-100 btn-brand-03 btn-hover-brand-01">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <%- include('./layout/footer'); -%>

                <!-- notification -->
                <%- include('./layout/notification'); -%>

                    <!-- ICONGIFY -->
                    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
                    <!-- JS -->
                    <script type="module" src="../main.js"></script>
                    <!-- jQuery Import -->
                    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
                        integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
                        crossorigin="anonymous"></script>
                    <!-- jQuery -->
                    <script>
                        // Validation 填寫檢驗
                        $('.needs-validation').each(function (index) {
                            $(this).on('submit', function (e) {
                                e.preventDefault();
                                $(this).addClass('was-validated');
                            });
                        });
                    </script>
    </body>

</html>